- var year = new Date().getFullYear()
.d-block.d-sm-none
    div.mb-0.alert.alert-warning.alert-dismissible.fade.show.fixed-bottom.rounded-0.border-0(role="alert")
        strong.me-2
            i.bi.bi-headset.me-2
            span(style="font-size: 0.75rem;") Layanan Aduan Konsumen
        a.btn.btn-outline-secondary.rounded-1.text-dark(href="#" type="button" data-bs-toggle="modal" data-bs-target="#layananAduan" title="Portal layanan Bank BI" style="font-size: 0.75rem;") Buat Aduan
        button(type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="font-size: 0.75rem;")
footer.border-top
    .container.py-3.py-lg-4.px-4.px-md-0
        .contact-box.rounded-3.overflow-hidden.mt-4.mt-lg-0.mb-lg-5.mb-4
            .contact-box-header.p-4.text-center.mb-4
                h5.m-0.text-white Layanan Aduan
            .accordion#accordionFooter
                .accordion-item
                    h2.accordion-header#footerOne
                    button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOneFooter' aria-expanded='true' aria-controls='collapseOneFooter')
                        //- img.img-thumbnail(src=baseURL+"img/logo-bank-indonesia.png" alt="Kementerian Pelindungan Pekerja Migran Indonesia / Badan Pelindungan Pekerja Migran Indonesia" style="max-height:4rem")
                        | Layanan Pengaduan Bank Indonesia
                    #collapseOneFooter.accordion-collapse.collapse.show(aria-labelledby='footerOne' data-bs-parent='#accordionFooter')
                        .accordion-body
                            .row.d-flex.align-items-center
                                .col-2
                                    img.mw-100(src=baseURL+"img/logo-bank-indonesia.png" alt="Kementerian Pelindungan Pekerja Migran Indonesia / Badan Pelindungan Pekerja Migran Indonesia" style="max-height:4rem")
                                .col-10
                                    h6.fs-7 Portal Layanan Pengaduan Bank Indonesia

                            div.fs-7.mt-2
                                ul 
                                    li.pt-2
                                        | Call Center (Dalam Dan Luar Negeri) - bicara 131 : 
                                        a.text-primary(href="tel:+1500131") 1500131
                                    li.pt-2
                                        | Email 
                                        a.text-primary(href="mailto:bicara@bi.go.id") bicara@bi.go.id
                                    li.pt-2
                                        | Portal Pengaduan : 
                                        a.text-primary(href="https://bicara131.bi.go.id/SignIn?returlUrl=%2F") bicara131.bi.go.id
                                        a.btn.btn-sm.btn-secondary.ms-sm-2.my-2(href="/informasi-keuangan/pengaduan-bi.html") Pelajari Selengkapnya
                .accordion-item
                    h2.accordion-header#footerTwo
                    button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwoFooter' aria-expanded='false' aria-controls='collapseTwoFooter').
                        Kementerian Pelindungan Pekerja Migran Indonesia / Badan Pelindungan Pekerja Migran Indonesia
                        
                    #collapseTwoFooter.accordion-collapse.collapse(aria-labelledby='footerTwo' data-bs-parent='#accordionFooter')
                        .accordion-body
                            .row.d-flex.align-items-center
                                .col-2
                                    img.mw-100(src=baseURL+"img/LogoKPPMIBP2MI.webp" alt="Kementerian Pelindungan Pekerja Migran Indonesia / Badan Pelindungan Pekerja Migran Indonesia" style="max-height:4rem")
                                .col-10
                                    h6.fs-7 Kementerian Pelindungan Pekerja Migran Indonesia / Badan Pelindungan Pekerja Migran Indonesia

                            div.fs-7.mt-2
                                ul 
                                    li.pt-2
                                        | Call Center (dalam negeri)- Telepon Halo PMI : 
                                        a.text-primary(href="tel:+628001000") 08001000
                                        span.mx-1 atau
                                        a(href="https://wa.me/628001000" target="_blank" class="btn btn-sm btn-secondary btn-sm ms-sm-2 my-2") Chat WA
                                    li.pt-2
                                        | Telepon dari Luar Negeri : 
                                        a.text-primary(href="tel:+622129244810") +6221-29244800 (luar negeri)

                                    li.pt-2
                                        | Email 
                                        a.text-primary(href="mailto:halopelindungan@bp2mi.go.id") halopelindungan@bp2mi.go.id
                                    li.pt-2
                                        | Website 
                                        a.text-primary(href="www.bp2mi.go.id" target="_blank") www.bp2mi.go.id

                            div.mt-4
                                h6 Sosial Media 
                                div
                                    a.p-2.fs-5.me-2(href="https://www.facebook.com/kemenp2mi" target="_blank")
                                        i.bi.bi-facebook

                                    a.p-2.fs-5.me-2(href="https://x.com/kemenp2mi" target="_blank")
                                        i.bi.bi-twitter

                                    a.p-2.fs-5.me-2(href="https://www.instagram.com/kemenp2mi" target="_blank")
                                        i.bi.bi-instagram

                                    a.p-2.fs-5.me-2(href="https://www.youtube.com/@kemenp2mi" target="_blank")
                                        i.bi.bi-youtube

                                    a.p-2.fs-5(href="https://www.tiktok.com/@kemenp2mi" target="_blank")
                                        i.bi.bi-tiktok

                .accordion-item
                    h2.accordion-header#footerThree
                    button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThreeFooter' aria-expanded='false' aria-controls='collapseThreeFooter')
                        | Layanan Lapor Diri yang dilayani oleh Kementrian Luar Negeri
                        
                    #collapseThreeFooter.accordion-collapse.collapse(aria-labelledby='footerThree' data-bs-parent='#accordionFooter')
                        .accordion-body
                            .row.d-flex.align-items-center
                                .col-2
                                    img.mw-100(src=baseURL+"img/logo-kemenlu.png" alt="BP2MI (Badan Perlindungan Pekerja Migran Indonesia)" style="max-height:4rem")
                                .col-10
                                    h6.fs-7 Layanan Lapor Diri yang dilayani oleh Kementrian Luar Negeri
                            div.content-article
                                div.fs-7.mt-2
                                    p Video Tutorial Lapor Diri : 
                                        a(href="https://www.youtube.com/watch?v=B8eIcjcN40E" target="_blank") https://www.youtube.com/watch?v=B8eIcjcN40E

                                div.fs-7.mt-2
                                    p Manfaat: 
                                    ol 
                                        li Mempermudah Pengurusan Dokumen atau Surat-Surat
                                        li Mempercepat pemberian bantuan untuk kendala WNI di Luar Negeri
                                        li Akurasi Informasi WNI di Luar Negeri
                                        li Kemudahan Akses Layanan

                                div.fs-7.mt-2
                                    p Daftar melalui :
                                        a(href="https://peduliwni.kemlu.go.id/" target="_blank") https://peduliwni.kemlu.go.id/
            //- .row 
            //-     .col-12.col-lg-6
            //-         .p-4
            //-             .row.d-flex.align-items-center
            //-                 .col-4
            //-                     img.mw-100(src=baseURL+"img/LogoKPPMIBP2MI.webp" alt="Kementerian Pelindungan Pekerja Migran Indonesia / Badan Pelindungan Pekerja Migran Indonesia)" style="max-height:4rem")
            //-                 .col-8
            //-                     h6.fs-7 Layanan Aduan ini dilayani oleh Kementerian Pelindungan Pekerja Migran Indonesia / Badan Pelindungan Pekerja Migran Indonesia

            //-             div.fs-7.mt-2
            //-                 ul 
            //-                     li.pt-2
            //-                         | Call Center - Telepon Halo PMI : 
            //-                         a.text-primary(href="tel:+628001000") 08001000

            //-                     li.pt-2
            //-                         | Telepon dari Luar Negeri : 
            //-                         a.text-primary(href="tel:+622129244810") (021) 29244810

            //-                     li.pt-2
            //-                         | Email 
            //-                         a.text-primary(href="mailto:halotki@bp2mi.go.id") halotki@bp2mi.go.id

            //-                     li.pt-2
            //-                         | Faksimili : 
            //-                         a.text-primary(href="#")(021) 29244810

            //-             div.mt-4
            //-                 h6 Sosial Media 
            //-                 div
            //-                     a.p-2.fs-5.me-2(href="https://www.facebook.com/bp2mi.ri" target="_blank")
            //-                         i.bi.bi-facebook

            //-                     a.p-2.fs-5.me-2(href="https://x.com/bp2mi_ri" target="_blank")
            //-                         i.bi.bi-twitter

            //-                     a.p-2.fs-5.me-2(href="https://www.instagram.com/bp2mi_ri" target="_blank")
            //-                         i.bi.bi-instagram

            //-                     a.p-2.fs-5.me-2(href="https://www.youtube.com/@BP2MI_RI" target="_blank")
            //-                         i.bi.bi-youtube

            //-                     a.p-2.fs-5(href="https://www.tiktok.com/@bp2mi.ri" target="_blank")
            //-                         i.bi.bi-tiktok

            //-     .col-12.col-lg-6
            //-         .p-4
            //-             .row.d-flex.align-items-center
            //-                 .col-4
            //-                     img.mw-100(src=baseURL+"img/logo-kemenlu.png" alt="BP2MI (Badan Perlindungan Pekerja Migran Indonesia)" style="max-height:4rem")
            //-                 .col-8
            //-                     h6.fs-7 Layanan Lapor Diri yang dilayani oleh Kementrian Luar Negeri
            //-             div.content-article
            //-                 div.fs-7.mt-2
            //-                     p Video Tutorial Lapor Diri : 
            //-                         a(href="https://www.youtube.com/watch?v=B8eIcjcN40E" target="_blank") https://www.youtube.com/watch?v=B8eIcjcN40E

            //-                 div.fs-7.mt-2
            //-                     p Manfaat: 
            //-                     ol 
            //-                         li Mempermudah Pengurusan Dokumen atau Surat-Surat
            //-                         li Mempercepat pemberian bantuan untuk kendala WNI di Luar Negeri
            //-                         li Akurasi Informasi WNI di Luar Negeri
            //-                         li Kemudahan Akses Layanan

            //-                 div.fs-7.mt-2
            //-                     p Daftar melalui :
            //-                         a(href="https://peduliwni.kemlu.go.id/" target="_blank") https://peduliwni.kemlu.go.id/


                    

        .row
            .col-lg-5
                .mb-4
                    img(src=baseURL+'img/logo-pmi.svg' alt='Jari PMI')
                div.pe-lg-4
                    p.fs-7.text-secondary Diperlukan adanya Pusat Informasi bagi PMI dan Keluarga yang dapat memenuhi aspek Pelindungan dan Pemberdayaan sehingga terwujudnya “PMI Berdaya” dikarenakan kesenjangan informasi yang dapat diakses oleh PMI

            .col-lg-7
                .row 
                    .col-md-4.mt-4.mt-lg-0
                        h6 Jari PMI
                        ul.footer-nav
                            li 
                                a(href=baseURL+"/") Beranda 
                            li 
                                a(href=baseURL+"latar-belakang/") Latar Belakang 
                            li 
                                a(href=baseURL+"latar-belakang#VisiMisi") Visi Misi 
                            li 
                                a(href=baseURL+"artikel/") Artikel 
                            li 
                                a(href=baseURL+"tanyajawab/") Tanya Jawab

                    .col-md-4.mt-4.mt-lg-0
                        h6 Pelatihan
                        ul.footer-nav
                            li 
                                a(href=baseURL+"/pelatihan") Bahasa Asing 
                            li 
                                a(href=baseURL+"/pelatihan") UMKM
                            li 
                                a(href=baseURL+"/pelatihan") Pengelolaan Uang
                            li 
                                a(href=baseURL+"/pelatihan") Pelatihan Lainnya

                    .col-md-4.mt-4.mt-lg-0
                        h6 Negara Tujuan
                        ul#list-country-footer.footer-nav
                            li 
                                span.skeleton-box.rounded-pill(style="width:60%")
                                //- a(href=baseURL+"negara/hongkong/") Hongkong

        .row.border-top.mt-4
            p.text-center.fs-8.text-secondary.mb-0.mt-3 Copyright &copy; #{year} Jari PMI

    button(class="scroll-top")
        i(class="bi bi-chevron-up")


