#layananAduan.modal.modal-lg.fade(tabindex='-1' aria-labelledby='layananAduanLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
        .modal-content
            .modal-header.align-items-start.align-items-lg-center
                //- h1#layananAduanLabel.modal-title.fs-5 JUDUL
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
                .contact-box.rounded-3.overflow-hidden.mt-4.mt-lg-0.mb-lg-0
                    .contact-box-header.p-4.text-center
                        h5.m-0 Layanan Aduan
                    .row 
                        .accordion#accordionHeader
                            .accordion-item
                                h2.accordion-header#headingOne
                                button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                    //- img.img-thumbnail(src=baseURL+"img/logo-bank-indonesia.png" alt="Kementerian Pelindungan Pekerja Migran Indonesia / Badan Pelindungan Pekerja Migran Indonesia" style="max-height:4rem")
                                    | Layanan Pengaduan Bank Indonesia
                                #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordionHeader')
                                    .accordion-body
                                        .row.d-flex.align-items-center
                                            .col-2
                                                img.mw-100(src=baseURL+"img/logo-bank-indonesia.png" alt="Kementerian Pelindungan Pekerja Migran Indonesia / Badan Pelindungan Pekerja Migran Indonesia" style="max-height:4rem")
                                            .col-10
                                                h6.fs-7 Portal Layanan Pengaduan Bank Indonesia

                                        div.fs-7.mt-2
                                            ul 
                                                li.pt-2
                                                    | Call Center (Dalam Dan Luar Negeri) - bicara 131 : 
                                                    a.text-primary(href="tel:+1500131") 1500131

                                                li.pt-2
                                                    | Portal Pengaduan : 
                                                    a.text-primary(href="https://bicara131.bi.go.id/SignIn?returlUrl=%2F") bicara131.bi.go.id

                                                li.pt-2
                                                    | Email 
                                                    a.text-primary(href="mailto:bicara@bi.go.id") bicara@bi.go.id

                            .accordion-item
                                h2.accordion-header#headingTwo
                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo').
                                    Kementerian Pelindungan Pekerja Migran Indonesia / Badan Pelindungan Pekerja Migran Indonesia
                                    
                                #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo' data-bs-parent='#accordionHeader')
                                    .accordion-body
                                        .row.d-flex.align-items-center
                                            .col-2
                                                img.mw-100(src=baseURL+"img/LogoKPPMIBP2MI.webp" alt="Kementerian Pelindungan Pekerja Migran Indonesia / Badan Pelindungan Pekerja Migran Indonesia" style="max-height:4rem")
                                            .col-10
                                                h6.fs-7 Kementerian Pelindungan Pekerja Migran Indonesia / Badan Pelindungan Pekerja Migran Indonesia

                                        div.fs-7.mt-2
                                            ul 
                                                li.pt-2
                                                    | Call Center - Telepon Halo PMI : 
                                                    a.text-primary(href="tel:+628001000") 08001000

                                                li.pt-2
                                                    | Telepon dari Luar Negeri : 
                                                    a.text-primary(href="tel:+622129244810") (021) 29244810

                                                li.pt-2
                                                    | Email 
                                                    a.text-primary(href="mailto:halotki@bp2mi.go.id") halotki@bp2mi.go.id

                                                li.pt-2
                                                    | Faksimili : 
                                                    a.text-primary(href="#")(021) 29244810

                                        div.mt-4
                                            h6 Sosial Media 
                                            div
                                                a.p-2.fs-5.me-2(href="https://www.facebook.com/bp2mi.ri" target="_blank")
                                                    i.bi.bi-facebook

                                                a.p-2.fs-5.me-2(href="https://x.com/bp2mi_ri" target="_blank")
                                                    i.bi.bi-twitter

                                                a.p-2.fs-5.me-2(href="https://www.instagram.com/bp2mi_ri" target="_blank")
                                                    i.bi.bi-instagram

                                                a.p-2.fs-5.me-2(href="https://www.youtube.com/@BP2MI_RI" target="_blank")
                                                    i.bi.bi-youtube

                                                a.p-2.fs-5(href="https://www.tiktok.com/@bp2mi.ri" target="_blank")
                                                    i.bi.bi-tiktok

                            .accordion-item
                                h2.accordion-header#headingThree
                                button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                                    | Layanan Lapor Diri yang dilayani oleh Kementrian Luar Negeri
                                    
                                #collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree' data-bs-parent='#accordionHeader')
                                    .accordion-body
                                        .row.d-flex.align-items-center
                                            .col-2
                                                img.mw-100(src=baseURL+"img/logo-kemenlu.png" alt="BP2MI (Badan Perlindungan Pekerja Migran Indonesia)" style="max-height:4rem")
                                            .col-10
                                                h6.fs-7 Layanan Lapor Diri yang dilayani oleh Kementrian Luar Negeri
                                        div.content-article
                                            div.fs-7.mt-2
                                                p Video Tutorial Lapor Diri : 
                                                    a(href="https://www.youtube.com/watch?v=B8eIcjcN40E" target="_blank") https://www.youtube.com/watch?v=B8eIcjcN40E

                                            div.fs-7.mt-2
                                                p Manfaat: 
                                                ol 
                                                    li Mempermudah Pengurusan Dokumen atau Surat-Surat
                                                    li Mempercepat pemberian bantuan untuk kendala WNI di Luar Negeri
                                                    li Akurasi Informasi WNI di Luar Negeri
                                                    li Kemudahan Akses Layanan

                                            div.fs-7.mt-2
                                                p Daftar melalui :
                                                    a(href="https://peduliwni.kemlu.go.id/" target="_blank") https://peduliwni.kemlu.go.id/

                        //- .col-12.col-lg-6
                        //-     .p-4
                        //-         .row.d-flex.align-items-center
                        //-             .col-4
                        //-                 img.mw-100(src=baseURL+"img/LogoKPPMIBP2MI.webp" alt="Kementerian Pelindungan Pekerja Migran Indonesia / Badan Pelindungan Pekerja Migran Indonesia" style="max-height:4rem")
                        //-             .col-8
                        //-                 h6.fs-7 Kementerian Pelindungan Pekerja Migran Indonesia / Badan Pelindungan Pekerja Migran Indonesia

                        //-         div.fs-7.mt-2
                        //-             ul 
                        //-                 li.pt-2
                        //-                     | Call Center - Telepon Halo PMI : 
                        //-                     a.text-primary(href="tel:+628001000") 08001000

                        //-                 li.pt-2
                        //-                     | Telepon dari Luar Negeri : 
                        //-                     a.text-primary(href="tel:+622129244810") (021) 29244810

                        //-                 li.pt-2
                        //-                     | Email 
                        //-                     a.text-primary(href="mailto:halotki@bp2mi.go.id") halotki@bp2mi.go.id

                        //-                 li.pt-2
                        //-                     | Faksimili : 
                        //-                     a.text-primary(href="#")(021) 29244810

                        //-         div.mt-4
                        //-             h6 Sosial Media 
                        //-             div
                        //-                 a.p-2.fs-5.me-2(href="https://www.facebook.com/bp2mi.ri" target="_blank")
                        //-                     i.bi.bi-facebook

                        //-                 a.p-2.fs-5.me-2(href="https://x.com/bp2mi_ri" target="_blank")
                        //-                     i.bi.bi-twitter

                        //-                 a.p-2.fs-5.me-2(href="https://www.instagram.com/bp2mi_ri" target="_blank")
                        //-                     i.bi.bi-instagram

                        //-                 a.p-2.fs-5.me-2(href="https://www.youtube.com/@BP2MI_RI" target="_blank")
                        //-                     i.bi.bi-youtube

                        //-                 a.p-2.fs-5(href="https://www.tiktok.com/@bp2mi.ri" target="_blank")
                        //-                     i.bi.bi-tiktok

                        //- .col-12.col-lg-6
                        //-     .p-4
                        //-         .row.d-flex.align-items-center
                        //-             .col-4
                        //-                 img.mw-100(src=baseURL+"img/logo-kemenlu.png" alt="BP2MI (Badan Perlindungan Pekerja Migran Indonesia)" style="max-height:4rem")
                        //-             .col-8
                        //-                 h6.fs-7 Layanan Lapor Diri yang dilayani oleh Kementrian Luar Negeri
                        //-         div.content-article
                        //-             div.fs-7.mt-2
                        //-                 p Video Tutorial Lapor Diri : 
                        //-                     a(href="https://www.youtube.com/watch?v=B8eIcjcN40E" target="_blank") https://www.youtube.com/watch?v=B8eIcjcN40E

                        //-             div.fs-7.mt-2
                        //-                 p Manfaat: 
                        //-                 ol 
                        //-                     li Mempermudah Pengurusan Dokumen atau Surat-Surat
                        //-                     li Mempercepat pemberian bantuan untuk kendala WNI di Luar Negeri
                        //-                     li Akurasi Informasi WNI di Luar Negeri
                        //-                     li Kemudahan Akses Layanan

                        //-             div.fs-7.mt-2
                        //-                 p Daftar melalui :
                        //-                     a(href="https://peduliwni.kemlu.go.id/" target="_blank") https://peduliwni.kemlu.go.id/

            .modal-footer.justify-content-center
                button.btn.btn-outline-primary(type='button' data-bs-dismiss='modal') Tutup