// start overlay
.site-overlay
// end overlay
// start site nav
nav.site-nav.w-100.d-flex.justify-content-end
  #site-primary-nav.site-primary-nav.is-fixed
    ul.nav-group
        li
            a(href=baseURL class={"is-active" : pageActive === 'beranda'}) Beranda
        li.has-children.small-children
            a(href='#0') Informasi Keuangan
            ul.site-secondary-nav.has-see-all.is-hidden.pb-3
                li.go-back
                    a(href='#0') Menu
                li
                    a(href=baseURL+'informasi-keuangan/' class={"is-active" : pageActive === 'informasi-keuangan'}) Edukasi Keuangan
                li
                    a(href=baseURL+'informasi-keuangan/qris-cross-border.html' class={"is-active" : pageActive === 'qris-cross-border'}) QRIS Cross Border
                li
                    a(href=baseURL+'informasi-keuangan/pengaduan-bi.html' class={"is-active" : pageActive === 'pengaduan-bi'}) Portal Pengaduan BI
                li
                    a(href=baseURL+'informasi-keuangan/peduli-kenali-laporkan.html' class={"is-active" : pageActive === 'peka'}) Peduli Kenali Adukan (PEKA)
        li
            a(href=baseURL+'pelatihan/' class={"is-active" : pageActive === 'pelatihan'}) Pelatihan
        
        li.has-children.small-children
            a(class={"is-active" : pageActive === 'negara-tujuan'}) Negara Tujuan
            ul#list-country-header.site-secondary-nav.has-see-all.is-hidden
                li.go-back
                    a(href='#0') Menu
                li.see-all
                    //- a.anchor.arrow-move(href=baseURL+'negara/')
                        | Selengkapnya
                        i.icon-angle-right
        li
            a(href=baseURL+"artikel/" class={"is-active" : pageActive === 'artikel'}) Artikel
            
        li
            button.btn.btn-cta-header.btn-primary(type="button" data-bs-toggle="modal" data-bs-target="#layananAduan") 
                i.bi.bi-telephone-fill.me-2.text-white
                | Layanan Aduan
    //- ul.nav-group
    //-   li.has-children.small-children.first-xs
    //-     a
    //-       i.icon-web
    //-       |  EN
    //-     ul.site-secondary-nav.is-hidden
    //-       li.go-back
    //-         a(href='#0') Menu
    //-       li
    //-         a(href='#') Bahasa Indonesia
    //-       li
    //-         a.lang-active(href='#') English
  // primary-nav
// site-nav
