// HDetail Page 1
        
section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav.pmi-scrollspy-nav 
                    ol
                        li 
                            a(href="#PentingnyaMenabung") Pentingnya Menabung
                        
                        li 
                            a(href="#KesalahanUmumMenabung") Kesalahan Umum Ketika Menabung

                        li 
                            a(href="#RagamTabungan") Ragam Tabungan yang Dapat Digunakan

                        li 
                            a(href="#MemilihTabungan") Memilih Tabungan Sesuai Kebutuhan

                        li 
                            a(href="#LangkahMenabung") Langkah Menabung di Bank
                        
                        li 
                            a(href="#TipsMenabung") Tips Menabung Asyik

                        li 
                            a(href="#TantanganMenanbung") Tantangan Menabung 30 Hari

            article.jari-sidebar-content.col-lg-9
                section#PentingnyaMenabung.pmi-scrollspy-content
                    h4 Pentingnya Menabung
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")
                    
                    //- Load sample paragraph
                    include ../../includes/sample_lorem_ipsum.pug
                    hr
                
                section#KesalahanUmumMenabung.pmi-scrollspy-content
                    h4 Kesalahan Umum Ketika Menabung
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    //- Load sample paragraph
                    include ../../includes/sample_lorem_ipsum.pug

                    hr

                section#RagamTabungan.pmi-scrollspy-content
                    h4 Ragam Tabungan yang Dapat Digunakan
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    //- Load sample paragraph
                    include ../../includes/sample_lorem_ipsum.pug
                    hr

                section#MemilihTabungan.pmi-scrollspy-content
                    h4 Memilih Tabungan Sesuai Kebutuhan
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    //- Load sample paragraph
                    include ../../includes/sample_lorem_ipsum.pug
                    hr

                section#LangkahMenabung.pmi-scrollspy-content
                    h4 Langkah Menabung di Bank
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    //- Load sample paragraph
                    include ../../includes/sample_lorem_ipsum.pug
                    hr

                section#TipsMenabung.pmi-scrollspy-content
                    h4 Tips Menabung Asyik
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    //- Load sample paragraph
                    include ../../includes/sample_lorem_ipsum.pug
                    hr

                section#TantanganMenanbung.pmi-scrollspy-content
                    h4 Tantangan Menabung 30 Hari
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    //- Load sample paragraph
                    include ../../includes/sample_lorem_ipsum.pug


