// HDetail Page 1
section
    .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
        .row.d-flex.align-items-center
            .col-12
                nav.breadcrumb-wrapper(aria-label="breadcrumb")
                    ol.breadcrumb.overflow-hidden.fs-7.mb-0
                        li.breadcrumb-item
                            a.text-primary(href=baseURL+'negara/')
                                | Negara Tujuan
                        li.breadcrumb-item
                            a.text-primary(href=baseURL+'negara/hongkong/') Hongkong

                        li.breadcrumb-item.active.text-truncate(aria-current='page') Adminstrasi Dan Dokumen
section
  .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center
        
        .col-12.bg-pmi-neutral-50.rounded-3
            .p-4.text-center
                a.fs-8.d-block.d-lg-none(href=baseURL+"negara/hongkong/") 
                    i.bi.bi-arrow-left.me-2
                    | Kembali
                h1.h2 Adminstrasi Dan Dokumen
                h6.mb-0.text-secondary Hongkong

section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav.pmi-scrollspy-nav 
                    btn.btn.d-block.d-lg-none.btn-outline-primary.trigger-menu-category
                        i.bi.bi-list.me-2
                        | Menu Kategori
                    ol.content-menu-category.rounded
                        li 
                            a(href="#layananKependudukan") Layanan administrasi kependudukan
                        
                        li 
                            a(href="#e-paspor") Tutorial Booking E-Layanan Paspor

                        li 
                            a(href="#skck") Pengurusan SKCK

                        li 
                            a(href="#layanan-konsuler") Layanan kekonsuleran (Pencatatan Keterangan Kelahiran, Pelayanan Penerjemah Dokumen) 

                        li 
                            a(href="#tarif-layanan") Jenis dan Tarif Biaya Pelayanan Keimigrasian Terbaru

            article.jari-sidebar-content.col-lg-9.content-article
                section#layananKependudukan.pmi-scrollspy-content.adjust-anchor
                    h4 Tata Cara Pengiriman Uang Melalui Aplikasi Entitas
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")
                    
                    //- Load sample paragraph
                    include ../../includes/sample_lorem_ipsum.pug
                    hr
                
                section#e-paspor.pmi-scrollspy-content.adjust-anchor
                    h4 SLA (Service Level Agreement) Terkait Uang Sampai
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    //- Load sample paragraph
                    include ../../includes/sample_lorem_ipsum.pug

                    hr

                section#skck.pmi-scrollspy-content.adjust-anchor
                    h4 Biaya yang Diperlukan
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    //- Load sample paragraph
                    include ../../includes/sample_lorem_ipsum.pug
                    hr

                section#layanan-konsuler.pmi-scrollspy-content.adjust-anchor
                    h4 Tempat & Lokasi
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    //- Load sample paragraph
                    include ../../includes/sample_lorem_ipsum.pug
                    hr

                section#tarif-layanan.pmi-scrollspy-content.adjust-anchor
                    h4 Download Aplikasi Entitas
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    //- Load sample paragraph
                    include ../../includes/sample_lorem_ipsum.pug


