section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            .container.my-5
                h2.text-center.mb-4 Daftar Profil Purna PMI
                p.text-center.text-secondary.mb-5 Setiap kisah Purna PMI adalah cermin ketangguhan dan kreativitas. Dengan modal pengalaman di luar negeri, mereka sukses mengembangkan usaha kuliner, pertanian, hingga kerajinan. Temukan cerita inspiratif bagaimana para pahlawan devisa membangun ekonomi keluarga sekaligus memberi dampak positif bagi masyarakat sekitar.
                //  Filter Buttons 
                .text-center.mb-4
                    button.m-1.btn.btn-outline-primary.filter-btn.active(data-filter='all') Semua
                    button.m-1.btn.btn-outline-primary.filter-btn(data-filter='Banten') Banten
                    button.m-1.btn.btn-outline-primary.filter-btn(data-filter='Lampung') Lampung
                    button.m-1.btn.btn-outline-primary.filter-btn(data-filter='Jawa Barat') Jawa Barat
                    button.m-1.btn.btn-outline-primary.filter-btn(data-filter='Yogyakarta') Yogyakarta
                    
                //  Gallery 
                .g-4
                    //  Card 1 
                    .card.pmi-card.d-flex.flex-column.flex-sm-row.mb-4(data-city='Banten')
                        .col-md-3.col-12.text-center.bg-light
                            img.img-fluid(src=baseURL+"img/purna-pmi/turidjo-hadi-ibu-sri-titin.png" alt='Bapak Turidjo Hadi & Ibu Sri Titin' style="object-fit: cover; height: 400px;")
                        .col-md-8.col-12.card-body
                            div.ribbon BP3MI Banten
                            h4.card-title.mb-4 Bapak Turidjo Hadi & Ibu Sri Titin
                            .row.g-4.mb-3
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Brand
                                    .info-value Saripati Laer
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jenis Usaha
                                    .info-value Kuliner (Minuman Herbal)
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Produk
                                    .info-value Minuman Instan Berbahan Herbal
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Omset
                                    .info-value Rp 50 Juta / bulan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jumlah Karyawan
                                    .info-value 20 Orang
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Kapasitas Produksi
                                    .info-value 3.000 kg / bulan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Tahun Berdiri
                                    .info-value 2006
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Badan Usaha
                                    .info-value CV. Saripati Laer
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Asal Kota
                                    .info-value Cilegon, Banten
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Pemasaran
                                    .info-value Retail, Online, Ekspor
                                .col-md-8
                                    label.text-sm.text-secondary.fw-lighter Kontak
                                    .info-value 
                                        a(href="tel:081960615933" class="text-decoration-none text-dark") 
                                            i.bi.bi-telephone.me-2
                                            | 081960615933
                            
                    .card.pmi-card.d-flex.flex-column.flex-sm-row.mb-4(data-city='Yogyakarta')
                        .col-md-3.col-12.text-center.bg-light
                            img.img-fluid(src=baseURL+"img/purna-pmi/bambang-sutrisno.png" alt='Bapak Bambang Sutrisno' style="object-fit: cover; height: 550px;")
                        .col-md-8.col-12.card-body
                            div.ribbon BP3MI Yogyakarta
                            h4.card-title.mb-4 Bapak Bambang Sutrisno
                            .row.g-4.mb-3
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jenis Usaha
                                    .info-value Dimsum Frozen, Kulit Lumpia & Pangsit, Otak-otak Bandeng, dan Galantin Ayam
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Produk
                                    .info-value Dimsum, Kulit Lumpia, Otak-otak Bandeng, Galantin Ayam
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Omset
                                    .info-value Rp 400–500 Juta / bulan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jumlah Karyawan
                                    .info-value 32 Orang
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Kapasitas Produksi
                                    .info-value 3.000 kg / bulan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Tahun Berdiri
                                    .info-value 2002
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Badan Usaha
                                    .info-value PT. Prasodjo Mukti Kurnia
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Asal Kota
                                    .info-value Cilegon, Banten
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Pemasaran
                                    .info-value Langsung &amp; Retail
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Alamat
                                    .info-value Sleman - Yogyakarta
                                .col-md-8
                                    label.text-sm.text-secondary.fw-lighter Contact
                                    .info-value 
                                        a(href="tel:081314616666" class="text-decoration-none text-dark") 
                                            i.bi.bi-telephone.me-2
                                            | 081314616666
                            p Usaha Kulit Lumpia, Kulit Pangsit, Mie Basah, Dimsum Frozen, Rolade ayam, Galantin Ayam, dan Otak-otak Bandeng atau yang terkenal dengan merk Jempol Food. merupakan Purna PMI asal D.I Yogyakatrta tahun 2005 s.d 2016 dengan negara penempatan Korea Selatan dan Istrinya merupakan Purna PMI tahun 2005 s.d 2012 dengan negara penempatan Malaysia. Saat ini beliau memiliki usaha atas nama PT. Prasodjo Mukti Kurnia yang bergerak dibidang kuline.

                    .card.pmi-card.d-flex.flex-column.flex-sm-row.mb-4(data-city='Banten')
                        .col-md-3.col-12.text-center.bg-light
                            img.img-fluid(src=baseURL+"img/purna-pmi/midah-dahmaliya.png" alt='Ibu Midah Dahmaliya' style="object-fit: cover; height: 440px;")
                        .col-md-8.col-12.card-body
                            div.ribbon BP3MI Banten
                            h4.card-title.mb-4 Ibu Midah Dahmaliya  
                            .row.g-4.mb-3
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Brand
                                    .info-value Bilvie Food
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jenis Usaha
                                    .info-value Unit Pengolahan Ikan Bandeng
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Produk
                                    .info-value Frozen Food dan Snack
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Omset
                                    .info-value 120 -165 Juta Perbulan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jumlah Karyawan
                                    .info-value 32 Orang
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Kapasitas Produksi
                                    .info-value 3.000 kg / bulan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Tahun Berdiri
                                    .info-value 2002
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Badan Usaha
                                    .info-value PT. Belvie Jaya Mandir
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Asal Kota
                                    .info-value Cilegon, Banten
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Pemasaran
                                    .info-value Langsung, Online, dan Ekspor
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Alamat
                                    .info-value Banten - Serang
                                .col-md-8
                                    label.text-sm.text-secondary.fw-lighter Contact
                                    .info-value 
                                        a.me-1(href="tel:081314616666" class="text-decoration-none text-dark") 
                                            i.bi.bi-telephone.me-2
                                            | 081314616666
                                        a.me-1(href="tel:081573119161" class="text-decoration-none text-dark") 
                                            i.bi.bi-telephone.me-2
                                            | 081573119161
                                        a.me-1(href="https://www.instagram.com/bilviefood.id/" target="_blank" class="text-decoration-none text-dark") 
                                            i.bi.bi-instagram.me-2
                                            | @bilviefood.id
                    
                    .card.pmi-card.d-flex.flex-column.flex-sm-row.mb-4(data-city='Banten')
                        .col-md-3.col-12.text-center.bg-light
                            img.img-fluid(src=baseURL+"img/purna-pmi/ramsiah-deswa.png" alt='Ibu Ramsiah Deswa' style="object-fit: cover; height: 440px;")
                        .col-md-8.col-12.card-body
                            div.ribbon BP3MI Banten
                            h4.card-title.mb-4 Ibu Ramsiah Deswa Craft
                            .row.g-4.mb-3
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Brand
                                    .info-value Deswa Craft
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jenis Usaha
                                    .info-value Handy Craft (Makrame)
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Produk
                                    .info-value Kerajinan Berbahan Dasar Tali
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Omset
                                    .info-value 50 Juta Perbulan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jumlah Karyawan
                                    .info-value 3 Tetap dan 40 Lepas
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Kapasitas Produksi
                                    .info-value Sesuai Pesanan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Tahun Berdiri
                                    .info-value 2017
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Badan Usaha
                                    .info-value Perorangan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Asal Kota
                                    .info-value Cilegon, Banten
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Pemasaran
                                    .info-value Langsung, Online, dan Ekspor
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Alamat
                                    .info-value Banten - Serang
                                .col-md-8
                                    label.text-sm.text-secondary.fw-lighter Contact
                                    .info-value 
                                        a.me-1(href="tel: 087749308021" class="text-decoration-none text-dark") 
                                            i.bi.bi-telephone.me-2
                                            | 087749308021
                                        a.me-1(href="tel:082298563448" class="text-decoration-none text-dark") 
                                            i.bi.bi-telephone.me-2
                                            | 082298563448
                                        a.me-1(href="https://www.instagram.com/deswacraft_ramsiah/" target="_blank" class="text-decoration-none text-dark") 
                                            i.bi.bi-instagram.me-2
                                            | @deswacraft_ramsiah
                    
                    .card.pmi-card.d-flex.flex-column.flex-sm-row.mb-4(data-city='Banten')
                        .col-md-3.col-12.text-center.bg-light
                            img.img-fluid(src=baseURL+"img/purna-pmi/uum-sumiyati.png" alt='Ibu Uum Sumiyati' style="object-fit: cover; height: 440px;")
                        .col-md-8.col-12.card-body
                            div.ribbon BP3MI Banten
                            h4.card-title.mb-4 Ibu Uum Sumiyati
                            .row.g-4.mb-3
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Brand
                                    .info-value DeSuci Food
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jenis Usaha
                                    .info-value Kuliner
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Produk
                                    .info-value Makanan Ringan Olahan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Omset
                                    .info-value 30 Juta Perbulan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jumlah Karyawan
                                    .info-value 4 Karyawan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Kapasitas Produksi
                                    .info-value Sesuai Pesanan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Tahun Berdiri
                                    .info-value 2011
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Badan Usaha
                                    .info-value Perorangan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Asal Kota
                                    .info-value Cilegon, Banten
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Pemasaran
                                    .info-value Langsung, Online
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Alamat
                                    .info-value Banten - Serang
                                .col-md-8
                                    label.text-sm.text-secondary.fw-lighter Contact
                                    .info-value 
                                        a.me-1(href="tel: 081270213385" class="text-decoration-none text-dark") 
                                            i.bi.bi-telephone.me-2
                                            | 081270213385
                                        a.me-1(href="tel:081270213385" class="text-decoration-none text-dark") 
                                            i.bi.bi-telephone.me-2
                                            | 081270213385
                                        a.me-1(href="https://www.instagram.com/sucifood1/" target="_blank" class="text-decoration-none text-dark") 
                                            i.bi.bi-instagram.me-2
                                            | @sucifood1

                    .card.pmi-card.d-flex.flex-column.flex-sm-row.mb-4(data-city='Yogyakarta')
                        .col-md-3.col-12.text-left.bg-light
                            img.img-fluid(src=baseURL+"img/purna-pmi/yunianto.png" alt='Bapak Yunianto' style="object-fit: cover; height: 460px;")
                        .col-md-8.col-12.card-body
                            div.ribbon BP3MI Yogyakarta
                            h4.card-title.mb-4 Bapak Yunianto
                            .row.g-4.mb-3
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Brand
                                    .info-value Wicca
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jenis Usaha
                                    .info-value Kuliner
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Produk
                                    .info-value Bakpia dan Wingko
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Omset
                                    .info-value 30 Juta Perbulan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jumlah Karyawan
                                    .info-value 8 Karyawan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Kapasitas Produksi
                                    .info-value Sesuai Pesanan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Tahun Berdiri
                                    .info-value 2010
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Badan Usaha
                                    .info-value Usaha UMKM
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Asal Kota
                                    .info-value Cilegon, Banten
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Pemasaran
                                    .info-value Outlet rumahan dan menerima pesanan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Alamat
                                    .info-value Bantul, D.I Yogyakarta
                                .col-md-8
                                    label.text-sm.text-secondary.fw-lighter Contact
                                    .info-value 
                                        a.me-1(href="tel:081314616666" class="text-decoration-none text-dark") 
                                            i.bi.bi-telephone.me-2
                                            | 081314616666
                    
                    .card.pmi-card.d-flex.flex-column.flex-sm-row.mb-4(data-city='Yogyakarta')
                        .col-md-3.col-12.text-center.bg-light
                            img.img-fluid(src=baseURL+"img/purna-pmi/sutriyana.png" alt='Bapak Sutriyana' style="object-fit: cover; height: 460px;")
                        .col-md-8.col-12.card-body
                            div.ribbon BP3MI Yogyakarta
                            h4.card-title.mb-4 Bapak Sutriyana
                            .row.g-4.mb-3
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Brand
                                    .info-value Coconeera
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jenis Usaha
                                    .info-value Gula Semut
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Produk
                                    .info-value Gula Kelapa Kristal/Semut
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Omset
                                    .info-value 60 Juta Perbulan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jumlah Karyawan
                                    .info-value 9 unit produksi, 943 petani penderes
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Kapasitas Produksi
                                    .info-value 1 Ton Perbulan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Tahun Berdiri
                                    .info-value 2006
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Badan Usaha
                                    .info-value KUB Tiwi Manunggal
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Asal Kota
                                    .info-value Cilegon, Banten
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Pemasaran
                                    .info-value Langsung, Online, dan Ekspor
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Alamat
                                    .info-value Kulon Progo - Yogyakarta
                                .col-md-8
                                    label.text-sm.text-secondary.fw-lighter Contact
                                    .info-value 
                                        a.me-1(href="tel:081227217526" class="text-decoration-none text-dark") 
                                            i.bi.bi-telephone.me-2
                                            | 081227217526
                    

                    .card.pmi-card.d-flex.flex-column.flex-sm-row.mb-4(data-city='Yogyakarta')
                        .col-md-3.col-12.text-center.bg-light
                            img.img-fluid(src=baseURL+"img/purna-pmi/slamet-rifai.png" alt='Bapak Slamet Rifai' style="object-fit: cover; height: 510px;")
                        .col-md-8.col-12.card-body
                            div.ribbon BP3MI Yogyakarta
                            h4.card-title.mb-4 Bapak Slamet Rifai
                            .row.g-4.mb-3
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Brand
                                    .info-value Serabi, Brownis batik, dan Kue Pratama
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jenis Usaha
                                    .info-value Kuliner
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Produk
                                    .info-value Kue Kacang, Brownis Batik dan Serabi solo
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Omset
                                    .info-value 60 Juta Perbulan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jumlah Karyawan
                                    .info-value 9 unit produksi, 943 petani penderes
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Kapasitas Produksi
                                    .info-value 1 Ton Perbulan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Tahun Berdiri
                                    .info-value 2007
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Badan Usaha
                                    .info-value CV Kue Pratama
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Asal Kota
                                    .info-value Cilegon, Banten
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Pemasaran
                                    .info-value Outlet (pemasaran langsung) dan menerima pesanan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Alamat
                                    .info-value Jl. Sidorejo No. 17 Sonopakis Kidul, Bantul, D.I Yogyakarta
                                .col-md-8
                                    label.text-sm.text-secondary.fw-lighter Contact
                                    .info-value 
                                        a.me-1(href="tel:081314616666" class="text-decoration-none text-dark") 
                                            i.bi.bi-telephone.me-2
                                            | 081314616666
                    
                    .card.pmi-card.d-flex.flex-column.flex-sm-row.mb-4(data-city='Jawa Barat')
                        .col-md-3.col-12.text-center.bg-light
                            img.img-fluid(src=baseURL+"img/purna-pmi/ikhsan-hidayatullah.png" alt='Bapak Ikhsan Hidayatullah' style="object-fit: cover; height: 460px;")
                        .col-md-8.col-12.card-body
                            div.ribbon BP3MI Jawa Barat
                            h4.card-title.mb-4 Bapak Ikhsan Hidayatullah
                            .row.g-4.mb-3
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Brand
                                    .info-value Serabi, Brownis batik, dan Kue Pratama
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jenis Usaha
                                    .info-value Kerupuk kulit/Dorogrok dan Jaket Kulit
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Produk
                                    .info-value Snack dan Jaket
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Omset
                                    .info-value 60 Juta Perbulan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jumlah Karyawan
                                    .info-value 10 Karyawan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Kapasitas Produksi
                                    .info-value 100 Kg Dorogdok Perbulan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Tahun Berdiri
                                    .info-value 2018
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Badan Usaha
                                    .info-value Perorangan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Asal Kota
                                    .info-value Cilegon, Banten
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Pemasaran
                                    .info-value Langsung dan Online
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Alamat
                                    .info-value Garut - Jawa Barat
                                .col-md-8
                                    label.text-sm.text-secondary.fw-lighter Contact
                                    .info-value 
                                        a.me-1(href="tel:0882000008931" class="text-decoration-none text-dark") 
                                            i.bi.bi-telephone.me-2
                                            | 0882000008931
                    
                    .card.pmi-card.d-flex.flex-column.flex-sm-row.mb-4(data-city='Lampung')
                        .col-md-3.col-12.text-center.bg-light
                            img.img-fluid(src=baseURL+"img/purna-pmi/toha-neni.png" alt='Bapak Toha Suparman &amp; Ibu Nenih Marlina' style="object-fit: cover; height: 400px;")
                        .col-md-8.col-12.card-body
                            div.ribbon BP3MI Lampung
                            h4.card-title.mb-4 Bapak Toha Suparman &amp; Ibu Nenih Marlina
                            .row.g-4.mb-3
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Brand
                                    .info-value Serabi, Brownis batik, dan Kue Pratama
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jenis Usaha
                                    .info-value Abon Ikan Lele, Basreng Ikan, dan Bandeng presto
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Produk
                                    .info-value Snack
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Omset
                                    .info-value 120 Juta Perbulan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jumlah Karyawan
                                    .info-value 10 Karyawan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Kapasitas Produksi
                                    .info-value 30 Kg Perbulan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Tahun Berdiri
                                    .info-value 2006
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Badan Usaha
                                    .info-value UMKM
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Asal Kota
                                    .info-value Lampung Timur
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Pemasaran
                                    .info-value Langsung dan Online
                    
                    .card.pmi-card.d-flex.flex-column.flex-sm-row.mb-4(data-city='Lampung')
                        .col-md-3.col-12.text-center.bg-light
                            img.img-fluid(src=baseURL+"img/purna-pmi/deni-endang.png" alt='Bapak Deni Hendri &amp; Ibu Endang' style="object-fit: cover; height: 400px;")
                        .col-md-8.col-12.card-body
                            div.ribbon BP3MI Lampung
                            h4.card-title.mb-4 Bapak Deni Hendri &amp; Ibu Endang
                            .row.g-4.mb-3
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Brand
                                    .info-value Serabi, Brownis batik, dan Kue Pratama
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jenis Usaha
                                    .info-value Pertanian Melon
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Produk
                                    .info-value Snack
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Omset
                                    .info-value 1 Milliar Perbulan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Jumlah Karyawan
                                    .info-value 32 Karyawan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Kapasitas Produksi
                                    .info-value 20 Hektar / 80 Ton Perbulan
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Tahun Berdiri
                                    .info-value 2002
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Badan Usaha
                                    .info-value PT. ARVINO FARM GROUP
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Asal Kota
                                    .info-value Sukadana - Lampung Timur
                                .col-md-4
                                    label.text-sm.text-secondary.fw-lighter Pemasaran
                                    .info-value Langsung dan Online
                                .col-md-8
                                    label.text-sm.text-secondary.fw-lighter Contact
                                    .info-value 
                                        a.me-1(href="tel:082177261300" class="text-decoration-none text-dark") 
                                            i.bi.bi-telephone.me-2
                                            | 082177261300