// HDetail Page 1
section
    .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
        .row.d-flex.align-items-center
            .col-12
                nav.breadcrumb-wrapper(aria-label="breadcrumb")
                    ol.breadcrumb.overflow-hidden.fs-7.mb-0.breadcrumb-custom
                        li.breadcrumb-item
                            a.text-primary(href=baseURL+'negara/')
                                | Negara Tujuan
                        li.breadcrumb-item
                            a.text-primary(href=baseURL+'negara/taiwan/') Taiwan

                        li.breadcrumb-item.active.text-truncate(aria-current='page') Budaya Masyarakat
section
  .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center
        
        .col-12.bg-pmi-neutral-50.rounded-3
            .p-4.text-center
                a.fs-8.d-block.d-lg-none(href=baseURL+"negara/taiwan/") 
                    i.bi.bi-arrow-left.me-2
                    | Kembali
                h1.h2 Budaya Masyarakat
                h6.mb-0.text-secondary Taiwan

section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav.pmi-scrollspy-nav 
                    btn.btn.d-block.d-lg-none.btn-outline-primary.trigger-menu-category
                        i.bi.bi-list.me-2
                        | Menu Kategori
                    ol.content-menu-category.rounded
                        li 
                            a(href="#informasi-bebas-visa") Selayang Pandang
                        li 
                            a(href="#layananKependudukan") Hari Libur Nasional

            article.jari-sidebar-content.col-lg-9.content-article
                section#informasi-bebas-visa.pmi-scrollspy-content.adjust-anchor
                    h4 Informasi Bebas Visa
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")
                    
                    .row 
                        .col-lg-12.col-md-12.col-sm-12 
                            ol 
                                li 
                                    b Paspor Biasa/Reguler:
                                    br 
                                    | Bebas Visa (30 hari) Sejak tanggal 19 Maret 2020 bebas visa tidak berlaku. Hanya WNA/WNI residen Hong Kong yang dapat masuk ke Hong Kong dengan persyaratan tertentu.
                                li 
                                    b Paspor Diplomatik:
                                    br 
                                    | Bebas Visa (30 hari) Sejak tanggal 19 Maret 2020 bebas visa tidak berlaku. Hanya WNA/WNI residen Hong Kong yang dapat masuk ke Hong Kong dengan persyaratan tertentu.
                                li 
                                    b Paspor Dinas:
                                    br 
                                    | Bebas Visa (30 hari) Sejak tanggal 19 Maret 2020 bebas visa tidak berlaku. Hanya WNA/WNI residen Hong Kong yang dapat masuk ke Hong Kong dengan persyaratan tertentu.
                hr
                section#layananKependudukan.pmi-scrollspy-content.adjust-anchor
                    h4 Layanan administrasi kependudukan
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")
                    
                    .row 
                        .col-lg-12.col-md-12.col-sm-12 
                            p 
                                | Mulai 8 Mei 2024 KJRI Hong Kong akan membuka layanan pencatatan Kependudukan Catatan Sipil (Dukcapil) dan Identitas Kependudukan Digital (IKD).
                                br 
                                | Pelayanan ditujukan bagi WNI yan​g belum pernah memiliki NIK (Nomor Identitas Kependudukan). WNI yang telah memiliki NIK sudah tidak perlu melakukan pencatatan di layanan tersebut.
                                br
                                | Pelayanan ini juga ditujukan untuk memperkenalkan aplikasi Identitas Kependudukan Digital bagi Masyarakat.
                            p
                                b Pelayanan:
                                br 
                                | Hari     : setiap hari Rabu
                                br 
                                | Jam     : 09.30 – 12.30 HKT
                                br 
                                | Kuota  : 15 orang
                            p
                                | Pendaftaran:
                                br
                                | Hari     : setiap hari Kamis s.d. Sabtu
                                br 
                                | Link     : <a href="https://bit.ly/admindukKJRIHK" title="form Pendaftaran">https://bit.ly/admindukKJRIHK</a>
                            p 
                                | Untuk informasi lebih lanjut dapat menghubungi hotline KJRI Hong Kong di nomor: <a href="tel:+85252422240" alt="Layanan Informasi KJRI Hongkong">+852 5242 2240</a>. 
                            br 
                            p 
                                b Informasi Bebas Visa:

                            ol 
                                li Paspor Biasa/Reguler: Bebas Visa (30 hari) Sejak tanggal 19 Maret 2020 bebas visa tidak berlaku. Hanya WNA/WNI residen Hong Kong yang dapat masuk ke Hong Kong dengan persyaratan tertentu.
                                li Paspor Diplomatik: Bebas Visa (30 hari) Sejak tanggal 19 Maret 2020 bebas visa tidak berlaku. Hanya WNA/WNI residen Hong Kong yang dapat masuk ke Hong Kong dengan persyaratan tertentu.
                                li Paspor Dinas: Bebas Visa (30 hari) Sejak tanggal 19 Maret 2020 bebas visa tidak berlaku. Hanya WNA/WNI residen Hong Kong yang dapat masuk ke Hong Kong dengan persyaratan tertentu."

                            p 
                                a.link-primary.link-underline-opacity-0(href="https://www.kemlu.go.id/hongkong/pelayanan-perwakilan/layanan-konsuler/layanan-administrasi-kependudukan") 
                                    i * Sumber Layanan Administrasi Kependudukan (Kementrian Luar Negeri)
                    
                    hr