// HDetail Page 1
section
    .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
        .row.d-flex.align-items-center
            .col-12
                nav.breadcrumb-wrapper(aria-label="breadcrumb")
                    ol.breadcrumb.overflow-hidden.fs-7.mb-0.breadcrumb-custom
                        li.breadcrumb-item
                            a.text-primary(href=baseURL+'negara/')
                                | Negara Tujuan
                        li.breadcrumb-item
                            a.text-primary(href=baseURL+'negara/malaysia/') Malaysia

                        li.breadcrumb-item.active.text-truncate(aria-current='page') Adminstrasi Dan Dokumen
section
  .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center
        
        .col-12.bg-pmi-neutral-50.rounded-3
            .p-4.text-center
                a.fs-8.d-block.d-lg-none(href=baseURL+"negara/malaysia/") 
                    i.bi.bi-arrow-left.me-2
                    | Kembali
                h1.h2 Adminstrasi Dan Dokumen
                h6.mb-0.text-secondary Malaysia

section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav.pmi-scrollspy-nav 
                    btn.btn.d-block.d-lg-none.btn-outline-primary.trigger-menu-category
                        i.bi.bi-list.me-2
                        | Menu Kategori
                    ol.content-menu-category.rounded
                        li 
                            a(href="#informasi-bebas-visa") Informasi Bebas Visa
                        li 
                            a(href="#layananKependudukan") Layanan administrasi kependudukan
                        
                        li 
                            a(href="#e-paspor") Tutorial Booking E-Layanan Paspor

                        li 
                            a(href="#skck") Pengurusan SKCK

                        li 
                            a(href="#layanan-konsuler") Layanan kekonsuleran (Pencatatan Keterangan Kelahiran, Pelayanan Penerjemah Dokumen) 

                        li 
                            a(href="#tarif-layanan") Jenis dan Tarif Biaya Pelayanan Keimigrasian Terbaru

            article.jari-sidebar-content.col-lg-9.content-article
                section#informasi-bebas-visa.pmi-scrollspy-content.adjust-anchor
                    h4 Informasi Bebas Visa
                    img.mw-100.my-3(src=baseURL+"img/img-info-bebas-visa.svg", alt="")
                    
                    .row 
                        .col-lg-12.col-md-12.col-sm-12 
                            ol 
                                li Paspor Biasa/Reguler
                                li Bebas Visa (30 hari) untuk tujuan sosial dan wisata
                                li Paspor Diplomatik
                                li Bebas Visa (30 hari)
                                li Paspor Dinas
                                li Bebas Visa (30 hari)
                            p Untuk Visa kerja bagi calon Pekerja Migran Indonesia baik yang bekerja kepada Pemberi Kerja secara perseorangan maupun badan hukum, agar mengikuti petunjuk dan menghubungi Dinas Ketenagakerjaan di daerah masing-masing atau P4TKI/BP3TKI/BNP2TKI (https://www.bnp2tki.go.id/read/8998/Petunjuk-Penempatan-TKI-Perseorangan.html)
                            p Disarankan pula untuk mengetahui dan memahami syarat dan ketentuan imigrasi setempat untuk pekerja asing di Malaysia (<a class="text-primary" href="https://www.imi.gov.my/index.php/en/main-services/foreign-workers.html" alt="Syarat Imigrasi">https://www.imi.gov.my/index.php/en/main-services/foreign-workers.html</a>)
                            p Paspor RI harus memiliki masa berlaku minimal 6 bulan sebelum jadwal keberangkatan
                            p Untuk mengetahui secara lebih jelas mengenai persyaratan keimigrasian Malaysia, Anda dapat menghubungi:
                            p  Kedutaan Besar Malaysia - Jakarta Jl. H.R Rasuna Said Kav. X/6, No 1 - 3 Kuningan, Jakarta Selatan, Jakarta 12950, Indonesia
                                ul 
                                    li No. Telp. : <a class="text-primary" href="tel:+62215224947" alt="Nomor Telepon">(+6221) 5224947</a>
                                    li No. Fax : <a class="text-primary" href="tel:+62215224974" alt="No Fax">(+6221) 5224974</a>
                                    li Email : <a class="text-primary" href="mwjakarta@kln.gov.my" alt="Email" target="_blank">mwjakarta@kln.gov.my</a>
                                    li Website : <a class="text-primary" href="www.kln.gov.my/perwakilan/jakarta/" alt="Wesite Perwakilan">www.kln.gov.my/perwakilan/jakarta/</a>

                hr
                section#layananKependudukan.pmi-scrollspy-content.adjust-anchor
                    h4 Layanan administrasi kependudukan
                    img.mw-100.my-3(src=baseURL+"img/img-illustration-1.svg", alt="")
                    
                    .row 
                        .col-lg-12.col-md-12.col-sm-12 
                            p 
                                b Informasi Bebas Visa
                                br 
                                | Paspor Biasa/Reguler: <b>Wajib Visa</b>
                                br
                                | Paspor Diplomatik: <b>Wajib Visa</b>
                                br
                                | Paspor Dinas: <b>Wajib Visa</b>
                                ol 
                                    li WNI diharuskan mengajukan permohonan visa untuk mengunjungi Arab Saudi sesuai dengan keperluan kunjungan. Dalam mengajukan permohonan visa, Anda dianjurkan untuk memiliki Paspor RI dengan masa berlaku minimal 6 (enam) bulan sebelum jadwal kepulangan. Harap diingat otoritas Arab Saudi berhak menolak aplikasi permohonan visa Anda.
                                    li Pemegang Paspor Diplomatik dan Dinas RI diharuskan mengajukan permohonan visa untuk mengunjungi Arab Saudi.
                                    li Perhatikan jenis serta masa berlaku visa Anda. Visa kunjungan tidak dapat digunakan untuk bekerja/mencari nafkah.
                            p 
                                Untuk Mengetahui secara lebih jelas persyaratan permohonan visa ke Arab Saudi, Anda dapat menghubungi: 
                                br 
                                | Embassy of the Kingdom of Saudi Arabia
                                br 
                                | JL. Denpasar Raya Blok A-13 No. 3 Kuningan Timur, Jakarta 12950
                                br 
                                | No. Tel. : <a class="text-primary" href="tel:+62-21-5260922 - 23" alt="Embassy of the Kingdom of Saudi Arabia line">+62-21-5260922 - 23</a>
                                br 
                                | No. Faks. : <a class="text-primary" href="fax:+62-21-5260924" alt="Embassy of the Kingdom of Saudi Arabia fax">+62-21-5260924</a>
                                br
                                | e-mail : <a class="text-primary" href="arabsaudinembassyjakarta.org" title="arabsaudinembassyjakarta.org">arabsaudinembassyjakarta.org</a>
                                br 
                                | situs : <a class="text-primary" href="www.arabsaudinjakarta.org" target="_blank" title="wensote resmi informasi bebas visa">www.arabsaudinjakarta.org</a> (visa)
                    hr
                
                section#e-paspor.pmi-scrollspy-content.adjust-anchor
                    h4 Tutorial Booking E-Layanan Paspor
                    //- img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    //- Load sample paragraph
                    .row 
                        .col-lg-12.col-md-12.col-sm-12 
                            p Berikut tutorial yang bisa kamu ikuti untuk membuat Paspor Via Aplikasi E-Layanan Paspor KJRI Hongkong
                        .col-lg-4.col-md-4.col-sm-4
                            figure
                                img.mw-100.figure-img.img-thumbnail(src=baseURL+"img/negara/hongkong/e-paspor/1-tutorial-booking-paspor.jpg", alt="Tutorial Booking Online Paspor Via Aplikasi E-Layanan Paspor KJRI Hongkong")
                                figcaption.figure-caption Tutorial Booking Online Paspor Via Aplikasi E-Layanan Paspor KJRI Hongkong                                
                        .col-lg-4.col-md-4.col-sm-4 
                            figure
                                img.mw-100.figure-img.img-thumbnail(src=baseURL+"img/negara/hongkong/e-paspor/2-registrasi-masuk.jpg", alt="Registrasi Akun / Masuk Akun")
                                figcaption.figure-caption Registrasi Akun / Masuk Akun
                        .col-lg-4.col-md-4.col-sm-4 
                            figure
                                img.mw-100.figure-img.img-thumbnail(src=baseURL+"img/negara/hongkong/e-paspor/3-booking-online.jpg", alt="Pilih Menu Booking Online - Untuk Membuat Booking")
                                figcaption.figure-caption "Pilih Menu Booking Online - Untuk Membuat Booking
                        .col-lg-4.col-md-4.col-sm-4 
                            figure
                                img.mw-100.figure-img.img-thumbnail(src=baseURL+"img/negara/hongkong/e-paspor/4-pilih-lokasi-pelayanan.jpg", alt="Pilih Lokasi Pelayanan")
                                figcaption.figure-caption Pilih Lokasi pelayanan sesuai dengan lokasi terdekat, masa berlaku paspor dan pilih tanggal kedatangan
                        .col-lg-4.col-md-4.col-sm-4 
                            figure
                                img.mw-100.figure-img.img-thumbnail(src=baseURL+"img/negara/hongkong/e-paspor/5-tanggal-booking.jpg", alt="Perhatikan tanggal booking")
                                figcaption.figure-caption Perhatikan tanggal ketersediaan untuk pengajuan tanggal pelayanan (warna hijau artinya tersedia, warna abu-abu artinya tidak tersedia), dan simpan untuk melanjutkan pengajuan.
                        .col-lg-4.col-md-4.col-sm-4 
                            figure
                                img.mw-100.figure-img.img-thumbnail(src=baseURL+"img/negara/hongkong/e-paspor/6-qr-booking.jpg", alt="Simpan Kode QR / Kode Booking")
                                figcaption.figure-caption Setelah menyimpan bookingan, Kamu akan mendaptkan kode QR/QR Code. Screenshoot atau simpan untuk ditunjukkan kepada petugas pelayanan.
                        .col-lg-12.col-md-12.col-sm-12
                            a.link-primary.link-underline-opacity-0(href="https://www.kemlu.go.id/hongkong/pelayanan-perwakilan/layanan-imigrasi/tutorial-booking-e-layanan-paspor" target="_blank" alt="Sumber Layanan Administrasi Kependudukan (Kementrian Luar Negeri)")
                                i * Tutorial Booking E-Layanan Paspor (Kementrian Luar Negeri)
                            
                    hr

                section#skck.pmi-scrollspy-content.adjust-anchor
                    h4 Pengurusan SKCK
                    img.mw-100.my-3(src=baseURL+"img/img-illustration-2.svg", alt="")

                    .row 
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            p Pengurusan SKCK (Surat Keterangan Catatan Kepolisian) dari Polri.
                            p Untuk pengurusan SKCK silahkan melengkapi dan scan data berikut. Kemudian kirim ke email polri@cgrihk.com
                            ol 
                                li 
                                    b WNI (Warga Negara Indonesia) 
                                    ol 
                                        li Fotokopi Paspor
                                        li Fotokopi akte lahir atau surat kenal lahir atau ijasah atau surat nikah
                                        li Fotokopi Kartu Keluarga (KK)
                                        li Dokumen Sidik Jari dan rumus sidik jari
                                        li Fotokopi kartu indentitas lain bagi yang belum memenuhi syarat untuk mendapatkan KTP
                                        li Pas foto berwarna ukuran 4 x 6 sebanyak 6 (enam) lembar dengan latar belakang merah, foto berpakaian sopan dan berkerah, Foto tidak menggunakan aksesoris wajah, tampak muka, dan bagi pemohon yang mengenakan jilbab, pas foto harus tampak muka secara utuh
                                li 
                                    b WNA (Warga Negara Asing)
                                    ol 
                                        li Surat permohonan dari sponsor, perusahaan, atau lembaga yang memperkejakan, menggunakan, atau yang bertanggung jawab pada WNA.
                                        li Fotokopi KTP dan Surat Nikah Apabila Sponsor dari Suami/Istri warga Negara Indonesia (WNI)
                                        li Fotokopi Paspor.
                                        li Fotokopi kartu ijin Tinggal Terbatas (KITAS) atau kartu ijin tinggal tetap (KITAP)
                                        li Fotokopi IMTA dari KEMANAKER RI
                                        li Fotokopi Surat Tanda Melapor (STM) dari kepolisian
                                        li Dokumen Sidik Jari dan rumus sidik jari.
                                        li Pas foto berwarna ukuran 4 x 6 sebanyak 6 (enam) lembar dengan latar belakang kuning, foto berpakaian sopan dan berkerah, Foto tidak menggunakan aksesoris wajah, tampak muka, dan bagi pemohon yang mengenakan jilbab, pas foto harus tampak muka secara utuh.​
                            a.link-primary.link-underline-opacity-0(href="https://www.kemlu.go.id/hongkong/pelayanan-perwakilan/layanan-kepolisian/pengurusan-skck" target="_blank" alt="Pengurusan SKCK")
                                i * Pengurusan SKCK (Kementrian Luar Negeri)
                    hr

                section#layanan-konsuler.pmi-scrollspy-content.adjust-anchor
                    h4 Layanan kekonsuleran (Pencatatan Keterangan Kelahiran, Pelayanan Penerjemah Dokumen) 
                    img.mw-100.my-3(src=baseURL+"img/img-illustration-3.svg", alt="")

                    //- Load sample paragraph
                    .row 
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            ol 
                                li 
                                    b KBRI Kuala Lumpur
                                    ul.mt-0 
                                        li Email : <a class="text-primary" href="mailto:+kualalumpur.kbri@kemlu.go.id" alt="kirim email ke kbri kuala lumpur">kualalumpur.kbri@kemlu.go.id</a>; <a class="text-primary" href="mailto:info@kbrikualalumpur.org" alt="kirim email ke info kbri kuala lumpur">info@kbrikualalumpur.org</a>
                                        li No. Telp : <a class="text-primary" href="tel:+60321164016" alt="Nomor Telepon">+603-21164016</a>, <a class="text-primary" href="tel:+60321164017" alt="Nomor Telepon">+603-21164017</a>

                                li 
                                    b KJRI Johor Baru
                                    ul.mt-0 
                                        li Email : <a class="text-primary" href="mailto:johorbahru.kjri@kemlu.go.id" alt="kirim email ke kbri johar baru">johorbahru.kjri@kemlu.go.id</a>
                                        li No. Telp : <a class="text-primary" href="tel:+6072274188" alt="Nomor Telepon">+607-2274188</a>
                                li
                                    b KJRI Kinabalu
                                    ul.mt-0 
                                        li Email :
                                        li No. Telp : <a class="text-primary" href="tel:+6088219110" alt="Nomor Telepon">+6088-219110</a>, <a class="text-primary" href="tel:+6088218600" alt="Nomor Telepon">+6088-218600</a>

                                li 
                                    b KJRI Kuching
                                    ul.mt-0 
                                        li Email : <a class="text-primary" href="mailto:kuching.kjri@kemlu.go.id" alt="kirim email ke kbri Kuching">kuching.kjri@kemlu.go.id</a>
                                        li No. Telp : <a class="text-primary" href="tel:+682461734" alt="Nomor Telepon">+682461734</a>, <a class="text-primary" href="tel:+682460734" alt="Nomor Telepon">+682460734</a>

                                li
                                    b KJRI Penang
                                    ul.mt-0 
                                        li Email : penang.kjri@kemlu.go.id
                                        li No. Telp : <a class="text-primary" href="tel:+6042274686" alt="Nomor Telepon">+604227-4686</a> 

                                li 
                                    b KRI Tawau, sabah
                                    ul.mt-0 
                                        li Email : <a class="text-primary" href="mailto:tawau.kri@kemlu.go.id" alt="kirim email ke kbri Tawau">tawau.kri@kemlu.go.id</a>
                                        li No. Telp : <a class="text-primary" href="tel:+61889430200" alt="Nomor Telepon">+61889430200</a> , <a class="text-primary" href="tel:+689752969" alt="Nomor Telepon">+60-89752969</a>
                            p 
                                a.link-primary.link-underline-opacity-0(href="https://www.kemlu.go.id/hongkong/pelayanan-perwakilan/layanan-konsuler/layanan-pencatatan-keterangan-kelahiran" target="_blank" alt="Layanan Pencatatan Keterangan Kelahiran")
                                    i * Layanan Pencatatan Keterangan Kelahiran (Kementrian Luar Negeri)
                    hr

                section#tarif-layanan.pmi-scrollspy-content.adjust-anchor
                    h4 Jenis dan Tarif Biaya Pelayanan Keimigrasian Terbaru
                    img.mw-100.my-3(src=baseURL+"img/img-illustration-5.svg", alt="")
                    .row 
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            p KEPUTUSAN KEPALA PERWAKILAN REPUBLIK INDONESIA
                                br
                                | NOMOR: 046/IV/2022 TAHUN 2022
                                br
                                | Tentang
                                br
                                | Perubahan Jenis Dan Tarif Atas Penerimaan Negara Bukan Pajak (Kekonsuleran Dan  Pelayanan Jasa Hukum/Kewarganegaraan Serta  Keimigrasian) Yang Berlaku Pada Konsulat Jenderal Republik Indonesia Di Hong Kong Sar Dan Macao Sar​
                            p 
                                a.btn.btn-outline-primary(href="https://kemlu.go.id/files/childmenu/additional_file/200-files-statis-pages-perwakilan-Hongkong-href-contains-pdf-0-shared.pdf" alt="200-files-statis-pages-perwakilan-Hongkong-href-contains-pdf-0-shared.pdf" target="_blank") 200-files-statis-pages-perwakilan-Hongkong-href-contains-pdf-0-shared.pdf
                            p 
                                a.link-primary.link-underline-opacity-0(href="https://www.kemlu.go.id/hongkong/pelayanan-perwakilan/layanan-konsuler/tarif-konsuler-dan-imigrasi-kjri-hong-kong-tahun-2022" target="_blank" alt="Tarif Konsuler Dan Imigrasi Kjri Hong Kong Tahun 2022")
                                    i * Tarif Konsuler Dan Imigrasi Kjri Hong Kong Tahun 2022 (Kementrian Luar Negeri)
                    //- Load sample paragraph
                    //- include ../../includes/sample_lorem_ipsum.pug


