// HDetail Page 1
section
    .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
        .row.d-flex.align-items-center
            .col-12
                nav.breadcrumb-wrapper(aria-label="breadcrumb")
                    ol.breadcrumb.overflow-hidden.fs-7.mb-0.breadcrumb-custom
                        li.breadcrumb-item
                            a.text-primary(href=baseURL+'negara/')
                                | Negara Tujuan
                        li.breadcrumb-item
                            a.text-primary(href=baseURL+'negara/malaysia/') Malaysia

                        li.breadcrumb-item.active.text-truncate(aria-current='page') Budaya Masyarakat
section
  .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center
        
        .col-12.bg-pmi-neutral-50.rounded-3
            .p-4.text-center
                a.fs-8.d-block.d-lg-none(href=baseURL+"negara/malaysia/") 
                    i.bi.bi-arrow-left.me-2
                    | Kembali
                h1.h2 Budaya Masyarakat
                h6.mb-0.text-secondary Malaysia

section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav.pmi-scrollspy-nav 
                    btn.btn.d-block.d-lg-none.btn-outline-primary.trigger-menu-category
                        i.bi.bi-list.me-2
                        | Menu Kategori
                    ol.content-menu-category.rounded
                        li 
                            a(href="#selayang-pandang") Selayang Pandang
                        li 
                            a(href="#hari-libur-nasional") Hari Libur Nasional

            article.jari-sidebar-content.col-lg-9.content-article
                section#selayang-pandang.pmi-scrollspy-content.adjust-anchor
                    h4 Selayang Pandang
                    img.mw-100.my-3(src=baseURL+"img/img-illustration-14.svg", alt="")
                    
                    .row 
                        .col-lg-12.col-md-12.col-sm-12 
                            p Malaysia adalah sebuah negara federal yang terdiri dari tiga belas negeri (negara bagian) dan tiga wilayah federal di Asia Tenggara dengan luas 329.847 km persegi. Ibukotanya adalah Kuala Lumpur, sedangkan Putrajaya menjadi pusat pemerintahan federal.  Negara ini dipisahkan ke dalam dua kawasan — Malaysia Barat dan Malaysia Timur — oleh Kepulauan Natuna, wilayah Indonesia di Laut Tiongkok Selatan. Malaysia berbatasan dengan Thailand, Indonesia, Singapura, Brunei, dan Filipina. Negara ini terletak di dekat khatulistiwa dan beriklim tropika. Kepala negara Malaysia adalah seorang Raja atau seorang Sultan yang dipilih secara bergiliran setiap 5 tahun sekali, hanya negeri-negeri (negara bagian) yang diperintah oleh Raja.
                            p Industri manufaktur memiliki pengaruh besar bagi ekonomi negara ini. Malaysia juga dipandang sebagai salah satu dari 18 negara berkeanekaragaman hayati terbesar di dunia. Bangsa Melayu menjadi bagian terbesar dari populasi Malaysia. Terdapat pula Ras Tionghoa Malaysia dan India Malaysia yang cukup besar.
                            p Bahasa Melayu dan Islam masing-masing menjadi bahasa dan agama resmi negara.Malaysia adalah anggota perintis ASEAN dan turut serta di berbagai organisasi internasional, seperti PBB. Sebagai bekas jajahan Inggris, Malaysia juga menjadi anggota Negara-Negara Persemakmuran (Commonwealth).
                            p Malaysia adalah negara multikultural tetapi mayoritas beragama Islam. Anda harus menghormati tradisi lokal, adat istiadat, hukum dan agama setiap saat dan menyadari tindakan Anda untuk memastikan bahwa Anda tidak menyinggung keyakinan budaya atau agama lainnya. Terdapat standar konsevatif untuk berpakaian dan berperilaku di banyak daerah di Malaysia. Anda harus mencari tahu kebiasaan apa yang diamati di tujuan Anda dan berhati-hati agar tidak menyinggung. Jika Anda ragu, carilah saran lokal.
                            p Selama Ramadan, WNI yang bepergian ke negara-negara dengan komunitas Muslim yang signifikan harus berhati - hati untuk menghormati agama dan kepekaan budaya, aturan dan adat istiadat. Secara khusus, orang-orang yang tidak berpuasa disarankan untuk menghindari makan, minum dan merokok di depan umum dan dihadapan orang yang sedang berpuasa.
                hr
                section#hari-libur-nasional.pmi-scrollspy-content.adjust-anchor
                    h4 Hari Libur Nasional
                    img.mw-100.my-3(src=baseURL+"img/img-illustration-15.svg", alt="")
                    
                    .row 
                        .col-lg-12.col-md-12.col-sm-12 
                            p 
                                //- a.link-primary.link-underline-opacity-0(href="https://www.kemlu.go.id/hongkong/pelayanan-perwakilan/layanan-konsuler/tarif-konsuler-dan-imigrasi-kjri-hong-kong-tahun-2022" target="_blank" alt="Tarif Konsuler Dan Imigrasi Kjri Hong Kong Tahun 2022")
                                    i * Tarif Konsuler Dan Imigrasi Kjri Hong Kong Tahun 2022 (Kementrian Luar Negeri)
                    //- Load sample paragraph
                    //- include ../../includes/sample_lorem_ipsum.pug


