// HDetail Page 1
section
    .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
        .row.d-flex.align-items-center
            .col-12
                nav.breadcrumb-wrapper(aria-label="breadcrumb")
                    ol.breadcrumb.overflow-hidden.fs-7.mb-0.breadcrumb-custom
                        li.breadcrumb-item
                            a.text-primary(href=baseURL+'negara/')
                                | Negara Tujuan
                        li.breadcrumb-item
                            a.text-primary(href=baseURL+'negara/malaysia/') Malaysia

                        li.breadcrumb-item.active.text-truncate(aria-current='page') Tata Cara Pengiriman Uang Ke Indonesia
section
  .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center
        
        .col-12.bg-pmi-neutral-50.rounded-3
            .p-4.text-center
                a.fs-8.d-block.d-lg-none(href=baseURL+"negara/malaysia/") 
                    i.bi.bi-arrow-left.me-2
                    | Kembali
                h1.h2 Tata Cara Pengiriman Uang Ke Indonesia
                h6.mb-0.text-secondary Malaysia

section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav.pmi-scrollspy-nav 
                    btn.btn.d-block.d-lg-none.btn-outline-primary.trigger-menu-category
                        i.bi.bi-list.me-2
                        | Menu Kategori
                    ol.content-menu-category.rounded
                        li 
                            a(href="#pengiriman-uang") Pengiriman Uang
                        li 
                            a(href="#durasi-biaya") Durasi, Biaya, dan Metode Transfer dari Malaysia
                        li 
                            a(href="#lokasi-pengiriman") Lokasi Pengiriman Uang

            article.jari-sidebar-content.col-lg-9
                section#pengiriman-uang.pmi-scrollspy-content.adjust-anchor
                    h4 Pengiriman Uang
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")
                    
                    .row 
                        .col-lg-12.col-md-12.col-sm-12.content-article 
                            //- p Khusus para WNI/PMI yang berada di Hong Kong, kirim uang dapat dilakukan dengan mengunjungi BRI Global Financial Services (Perusahaan Anak dari BRI) yang tersebar di 4 lokasi district yaitu Causeway Bay, Mongkok, Tsuen Wan, dan Yuen Long. Kirim uang dapat dilakukan dengan mengikuti tahapan berikut.
                            //- ol 
                            //-     li Mempersiapkan identitas dan detail tujuan pengiriman (nama & nomor rekening BRI).
                            //-     li Mempersiapkan jumlah uang yang akan dikirim.
                            //-     li Cek kembali detail pengiriman, agar tidak salah tujuan.
                            //-     li Pengiriman uang siap diproses dan akan diterima di hari yang sama.
                    hr
                
                section#durasi-biaya.pmi-scrollspy-content.adjust-anchor
                    h4 Durasi, Biaya, dan Metode Transfer dari Negara Asal
                    //- img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    //- Load sample paragraph
                    .row 
                        //- .col-lg-12.col-md-12.col-sm-12.content-article 
                            p Cek daftar berikut untuk melihat daftar layanan, durasi dan biaya transfer
                            table.table.table-striped
                                thead.thead-dark
                                    tr 
                                        th(scope="col") Nama Layanan
                                        th(scope="col") SWIFT
                                        th(scope="col") MoneyGram

                                tbody 
                                    tr 
                                        td 
                                            b Durasi Pengiriman 
                                        td 1 hari kerja 
                                        td 
                                            | - Rekening Bank = 1 hari kerja
                                            br
                                            | - Tarik tunai di cabang CIMB Niaga Indonesia = Instant 
                                    tr 
                                        td 
                                            b Biaya Transfer
                                        td estimasi USD 20-25
                                        td Sesuai kebijakan provider setempat
                                    tr 
                                        td 
                                            b Tujuan Dana ke Indonesia
                                        td Rekening Bank di Indonesia
                                        td Tarik tunai di cabang CIMB Niaga Indonesia
                                    tr
                                        td 
                                            b Metode Transfer dari Hongkong
                                        td 
                                            | - Cabang di Bank Lokal
                                            br
                                            | - Kanal Elektronik Bank Setempat
                                        td Datang ke Agent MoneyGram di Hongkong
                            
                    hr

                section#lokasi-pengiriman.pmi-scrollspy-content.adjust-anchor()
                    h4 Lokasi Pengiriman Uang
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    .row 
                        .col-lg-12.col-md-12.col-sm-12
                            div.table-responsive
                                table.table.table-hover.fs-7.my-4.display.dataTable.responsive(id="remitansi-list" data-country="malaysia")
                                    thead
                                        tr
                                            th.text-truncate(scope="col") Lembaga Remitansi
                                            th.text-truncate(scope="col") Alamat / Website
                                            th.text-truncate(scope="col") Tutorial
                                            th.text-truncate(scope="col") Biaya
                                            th.text-truncate(scope="col") Platform
                    hr