// HDetail Page 1
section
    .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
        .row.d-flex.align-items-center
            .col-12
                nav.breadcrumb-wrapper(aria-label="breadcrumb")
                    ol.breadcrumb.overflow-hidden.fs-7.mb-0.breadcrumb-custom
                        li.breadcrumb-item
                            a.text-primary(href=baseURL+'negara/')
                                | Negara Tujuan
                        li.breadcrumb-item
                            a.text-primary(href=baseURL+'negara/malaysia') Malaysia

                        li.breadcrumb-item.active.text-truncate(aria-current='page') Regulasi Dan Ketentuan
section
  .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center
        
        .col-12.bg-pmi-neutral-50.rounded-3
            .p-4.text-center
                a.fs-8.d-block.d-lg-none(href=baseURL+"negara/malaysia") 
                    i.bi.bi-arrow-left.me-2
                    | Kembali
                h1.h2 Regulasi Dan Ketentuan
                h6.mb-0.text-secondary Malaysia

section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav.pmi-scrollspy-nav 
                    btn.btn.d-block.d-lg-none.btn-outline-primary.trigger-menu-category
                        i.bi.bi-list.me-2
                        | Menu Kategori
                    ol.content-menu-category.rounded
                        li 
                            a(href="#kontrak-kerja-mandiri") Kontrak Kerja Mandiri
                        li 
                            a(href="#ketentuan-pengiriman-barang") Ketentuan Barang Kiriman PMI
                        li 
                            a(href="#kenali-hukum") Kenali Hukum, Jauhi Hukuman
                        li 
                            a(href="#layanan-bantuan-hukum") Layanan Bantuan Hukum
                        li 
                            a(href="#peraturan-depnaker") Peraturan Departemen Tenaga Kerja Khusus Pengurus Rumah Tangga Asing (PRTA) dan Pemberi Kerja
                        li 
                            a(href="#peraturan-departemen") Peraturan Departemen Tenaga Kerja Khusus PRTA di Hong Kong

            article.jari-sidebar-content.col-lg-9
                section#kontrak-kerja-mandiri.pmi-scrollspy-content.adjust-anchor
                    h4 Kontrak Kerja Mandiri
                    img.mw-100.my-3(src=baseURL+"img/img-illustration-4.svg", alt="")
                    
                    .row 
                        .col-lg-12.col-md-12.col-sm-12.content-article 
                            //- p 
                                a.link-primary.link-underline-opacity-0(href="https://www.kemlu.go.id/hongkong/pelayanan-perwakilan/layanan-konsuler/kontrak-mandiri" target="_blank" alt="Perpanjangan Kontrak Kerja (Kementrian Luar Negeri)")
                                    i * Perpanjangan Kontrak Kerja Mandiri (Kementrian Luar Negeri)
                                
                    hr
                
                section#ketentuan-pengiriman-barang.pmi-scrollspy-content.adjust-anchor
                    h4 Ketentuan Barang Kiriman PMI
                    //- img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    //- Load sample paragraph
                    .row 
                        .col-lg-12.col-md-12.col-sm-12 
                            
                    hr

                section#kenali-hukum.pmi-scrollspy-content.adjust-anchor
                    h4 Kenali Hukum, Jauhi Hukuman
                    img.mw-100.my-3(src=baseURL+"img/img-illustration-6.svg", alt="")

                    .row 
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            ol 
                                li 
                                    b Tindak Pidana
                                    br 
                                    | Setiap orang yang berada di wilayah Malaysia, termasuk WNI, harus menghormati dan tunduk pada hukum dan peraturan setempat. Apabila Anda melanggar hukum dan peraturan setempat, Anda dapat dideportasi, ditangkap, atau ditahan oleh otoritas setempat.
                                li 
                                    b Penangkapan dan Penahanan
                                    br 
                                    | Apabila Anda ditangkap atau ditahan oleh otoritas setempat, Anda memiliki hak meminta Kepolisian atau otoritas setempat lainnya untuk memberikan notifikasi terkait penangkapan atau penahanan Anda kepada Perwakilan RI terdekat. Dalam hal Anda memutuskan untuk tidak menggunakan hak pemberian notifikasi, maka Perwakilan RI tidak akan mengetahui perihal penangkapan atau penahanan Anda dan tidak dapat memberikan bantuan kekonsuleran yang diperlukan selama proses penangkapan atau penahanan Anda.
                                li 
                                    b Hukuman untuk Kejahatan Narkoba
                                    br 
                                    | Setiap orang yang berada di wilayah Malaysia, termasuk WNI, jika kedapatan membawa narkoba (obat - obatan terlarang) meski dalam jumlah kecil dan hanya untuk tujuan rekreasi dapat dikenakan sanksi. Apabila Anda melanggar hukum dan peraturan setempat, Anda dapat dideportasi, ditangkap, atau ditahan oleh otoritas setempat.
                                li 
                                    b Hukum Islam di Malaysia
                                    br
                                    | Wisatawan harus mencatat beberapa aspek Hukum Syariah (Islam) yang telah diperkenalkan oleh semua negara di Malaysia. Negara Kelantan dan Terengganu sangat ketat terhadap hukum islam. Anda harus memastikan Anda mengetahui ketentuan yang relevan, yang berlaku untuk semua umat muslim, termasuk dari Indonesia.
                                li
                                    b LGBTI
                                    br
                                    | Tindakan homoseksual adalah tindakan melanggar hukum. Hukum di Malaysia saat ini menyediakan hukuman cambuk dan hukuman 20 tahun penjara untuk tindakan homoseksual yang melibatkan laki - laki atau perempuan.
                                li 
                                    b Peraturan untuk Perwalian di Malaysia
                                    br 
                                    | Di bawah hukum sipil Malaysia, tidak ada undang-undang yang jelas mengenai legalitas surogasi di Malaysia. Namun, di bawah hukum Syariah (Hukum Islam), surogasi merupakan tindakan ilegal bagi umat muslim. Surogasi tidak dilakukan secara terbuka di Malaysia dan sebagian besar pengaturan pribadi dibuat antara ibu pengganti dan mereka yang akan bertindak sebagai orangtua. Anda sangat dianjurkan untuk mencari nasihat hukum independen sebelum melakukan pengaturan surogasi.
                                li 
                                    b Hal-hal Lain yang Perlu Diketahui oleh WNI
                                    br
                                    | Mengemudi di bawah pengaruh alkohol adalah illegal dan dapat dikenakan denda yang ketat.
                    hr

                section#layanan-bantuan-hukum.pmi-scrollspy-content.adjust-anchor
                    h4 Layanan Bantuan Hukum
                    img.mw-100.my-3(src=baseURL+"img/img-illustration-7.svg", alt="")

                    //- Load sample paragraph
                    .row 
                        .col-lg-12.col-md-12.col-sm-12.content-article
                    hr

                section#peraturan-depnaker.pmi-scrollspy-content.adjust-anchor
                    h4 Peraturan Departemen Tenaga Kerja Khusus Pengurus Rumah Tangga Asing (PRTA) dan Pemberi Kerja
                    img.mw-100.my-3(src=baseURL+"img/img-illustration-6.svg", alt="")
                    .row 
                        .col-lg-12.col-md-12.col-sm-12.content-article
                
                section#peraturan-departemen.pmi-scrollspy-content.adjust-anchor
                    h4 Peraturan Departemen Tenaga Kerja Khusus PRTA di Hong Kong
                    img.mw-100.my-3(src=baseURL+"img/img-illustration-8.svg", alt="")
                    .row 
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            
                    //- Load sample paragraph
                    //- include ../../includes/sample_lorem_ipsum.pug


