// HDetail Page 1
section
    .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
        .row.d-flex.align-items-center
            .col-12
                nav.breadcrumb-wrapper(aria-label="breadcrumb")
                    ol.breadcrumb.overflow-hidden.fs-7.mb-0.breadcrumb-custom
                        li.breadcrumb-item
                            a.text-primary(href=baseURL+'negara/')
                                | Negara Tujuan
                        li.breadcrumb-item
                            a.text-primary(href=baseURL+'negara/singapura/') Singapura

                        li.breadcrumb-item.active.text-truncate(aria-current='page') Lokasi Perwakilan Ke Indonesia
section
  .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center
        
        .col-12.bg-pmi-neutral-50.rounded-3
            .p-4.text-center
                a.fs-8.d-block.d-lg-none(href=baseURL+"negara/singapura/") 
                    i.bi.bi-arrow-left.me-2
                    | Kembali
                h1.h2 Lokasi Perwakilan Ke Indonesia
                h6.mb-0.text-secondary Singapura

section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav.pmi-scrollspy-nav 
                    btn.btn.d-block.d-lg-none.btn-outline-primary.trigger-menu-category
                        i.bi.bi-list.me-2
                        | Menu Kategori
                    ol.content-menu-category.rounded
                        li 
                            a(href="#peta-lokasi") Peta Lokasi
                        li 
                            a(href="#hoteline-tertintegrasi") Hotline Terintegrasi

            article.jari-sidebar-content.col-lg-9
                section#peta-lokasi.pmi-scrollspy-content.adjust-anchor
                    h4 Peta Lokasi
                    img.mw-100.my-3(src=baseURL+"img/img-illustration-10.svg", alt="")
                    
                    .row 
                        .col-lg-12.col-md-12.col-sm-12.content-article 
                            //- p 
                                a.link-primary.link-underline-opacity-0(href="https://www.kemlu.go.id/hongkong/pelayanan-perwakilan/layanan-konsuler/kontrak-mandiri" target="_blank" alt="Perpanjangan Kontrak Kerja (Kementrian Luar Negeri)")
                                    i * Perpanjangan Kontrak Kerja Mandiri (Kementrian Luar Negeri)
                                
                    hr
                
                section#hoteline-tertintegrasi.pmi-scrollspy-content.adjust-anchor
                    h4 Hotline Terintegrasi
                    img.mw-100.my-3(src=baseURL+"img/img-illustration-9.svg", alt="")
                    .row 
                        .col-lg-12.col-md-12.col-sm-12.content-article 
                            p 
                                ol 
                                    li 
                                        b KBRI Riyadh
                                        br 
                                        span Email : <a href="mailto:singapura.kbri@kemlu.go.id">singapura.kbri@kemlu.go.id</a>
                                        br 
                                        span No. Telp : <a href="tel:+6567377422">+65 6737 7422</a>