// HDetail Page 1
section
    .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
        .row.d-flex.align-items-center
            .col-12
                nav.breadcrumb-wrapper(aria-label="breadcrumb")
                    ol.breadcrumb.overflow-hidden.fs-7.mb-0.breadcrumb-custom
                        li.breadcrumb-item
                            a.text-primary(href=baseURL+'negara/')
                                | Negara Tujuan
                        li.breadcrumb-item
                            a.text-primary(href=baseURL+'negara/singapura/') Singapura

                        li.breadcrumb-item.active.text-truncate(aria-current='page') Regulasi Dan Ketentuan
section
  .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center
        
        .col-12.bg-pmi-neutral-50.rounded-3
            .p-4.text-center
                a.fs-8.d-block.d-lg-none(href=baseURL+"negara/singapura/") 
                    i.bi.bi-arrow-left.me-2
                    | Kembali
                h1.h2 Regulasi Dan Ketentuan
                h6.mb-0.text-secondary Singapura

section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav.pmi-scrollspy-nav 
                    btn.btn.d-block.d-lg-none.btn-outline-primary.trigger-menu-category
                        i.bi.bi-list.me-2
                        | Menu Kategori
                    ol.content-menu-category.rounded
                        li 
                            a(href="#kontrak-kerja-mandiri") Kontrak Kerja Mandiri
                        li 
                            a(href="#ketentuan-pengiriman-barang") Ketentuan Barang Kiriman PMI
                        li 
                            a(href="#kenali-hukum") Kenali Hukum, Jauhi Hukuman
                        li 
                            a(href="#layanan-bantuan-hukum") Layanan Bantuan Hukum
                        li 
                            a(href="#peraturan-depnaker") Peraturan Departemen Tenaga Kerja Khusus Pengurus Rumah Tangga Asing (PRTA) dan Pemberi Kerja
                        li 
                            a(href="#peraturan-departemen") Peraturan Departemen Tenaga Kerja Khusus PRTA di Singapura

            article.jari-sidebar-content.col-lg-9
                section#kontrak-kerja-mandiri.pmi-scrollspy-content.adjust-anchor
                    h4 Kontrak Kerja Mandiri
                    img.mw-100.my-3(src=baseURL+"img/img-illustration-4.svg", alt="")
                    
                    .row 
                        //- .col-lg-12.col-md-12.col-sm-12.content-article 
                            p 
                                a.link-primary.link-underline-opacity-0(href="https://www.kemlu.go.id/hongkong/pelayanan-perwakilan/layanan-konsuler/kontrak-mandiri" target="_blank" alt="Perpanjangan Kontrak Kerja (Kementrian Luar Negeri)")
                                    i * Perpanjangan Kontrak Kerja Mandiri (Kementrian Luar Negeri)
                                
                    hr
                
                section#ketentuan-pengiriman-barang.pmi-scrollspy-content.adjust-anchor
                    h4 Ketentuan Barang Kiriman PMI
                    //- img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    //- Load sample paragraph
                    .row 
                        .col-lg-12.col-md-12.col-sm-12 
                         
                            
                    hr

                section#kenali-hukum.pmi-scrollspy-content.adjust-anchor
                    h4 Kenali Hukum, Jauhi Hukuman
                    img.mw-100.my-3(src=baseURL+"img/img-illustration-6.svg", alt="")

                    .row 
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            ol 
                                li.mb-2
                                    b Tindak Pidana
                                    br 
                                    | Setiap orang yang berada di wilayah Singapura, termasuk WNI, harus menghormati dan tunduk pada hukum dan peraturan setempat. Apabila Anda melanggar hukum dan peraturan setempat, Anda dapat dideportasi, ditangkap, atau ditahan oleh otoritas setempat. Hukum di Singapura diterapkan dan diawasi dengan ketat. Kejahatan terkait narkotika dan kejahatan berat seperti pembunuhan, penyerangan bersenjata dan penculikan dapat menyebabkan hukuman mati. Hukuman cambuk dapat diterapkan diantaranya pada pelaku pemerkosaan, pencurian, dan pemerasan.
                                li.mb-2
                                    b Penangkapan dan Penahanan
                                    br
                                    | Apabila Anda ditangkap atau ditahan oleh otoritas setempat, Anda memiliki hak untuk meminta Kepolisian atau otoritas setempat lainnya untuk memberikan notifikasi terkait penangkapan atau penahanan Anda kepada Perwakilan RI terdekat. Dalam hal Anda memutuskan untuk tidak menggunakan hak pemberian notifikasi, maka Perwakilan RI tidak akan mengetahui perihal penangkapan atau penahanan Anda dan tidak dapat memberikan bantuan kekonsuleran yang diperlukan selama proses penangkapan atau penahanan Anda.
                                li.mb-2
                                    b Hukum Lainnya
                                    ul.my-0
                                        li Kepemilikan dan mengimpor produk-produk hasil pembajakan adalah perbuatan melawan hukum.
                                        li Mengimpor rokok elektrik, baik untuk tujuan komersil dan pribadi adalah perbuatan ilegal.
                                        li Mabuk, berperilaku dan berkata buruk selama transit atau ketika berada di atas pesawat di Singapura merupakan melanggar hukum.
                                        li Minum minuman beralkohol di publik pada pukul 10.30 malam sampai dengan 7 pagi, termasuk mengkonsumsi alkohol di kawasan Liquor Control Zones (daerah Geylang dan Little India) di hari libur.
                    hr

                section#layanan-bantuan-hukum.pmi-scrollspy-content.adjust-anchor
                    h4 Layanan Bantuan Hukum
                    img.mw-100.my-3(src=baseURL+"img/img-illustration-7.svg", alt="")

                    //- Load sample paragraph
                    .row 
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            
                    hr

                section#peraturan-depnaker.pmi-scrollspy-content.adjust-anchor
                    h4 Peraturan Departemen Tenaga Kerja Khusus Pengurus Rumah Tangga Asing (PRTA) dan Pemberi Kerja
                    img.mw-100.my-3(src=baseURL+"img/img-illustration-6.svg", alt="")
                    .row 
                        .col-lg-12.col-md-12.col-sm-12.content-article
                
                section#peraturan-departemen.pmi-scrollspy-content.adjust-anchor
                    h4 Peraturan Departemen Tenaga Kerja Khusus PRTA di Hong Kong
                    img.mw-100.my-3(src=baseURL+"img/img-illustration-8.svg", alt="")
                    .row 
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            
                    //- Load sample paragraph
                    //- include ../../includes/sample_lorem_ipsum.pug


