
section 
    .container.py-4.py-lg-5.px-4.px-md-0
        .d-flex.align-items-center.justify-content-between
            div
                h3 Produk Tabungan
            div.d-flex.align-items-center.gap-3
                //- a.btn.btn-outline-primary(href="#") Selengkapnya
                .d-flex.gap-1
                    button.btn.button-swiper.swiper-tab2-prev
                        i.bi.bi-chevron-left
                    button.btn.button-swiper.swiper-tab2-next
                        i.bi.bi-chevron-right

        .swiper.tabNav2Swiper.tab-nav-swiper.mt-4(style='--swiper-navigation-color: #fff; --swiper-pagination-color: #fff')
            .swiper-wrapper
                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-1.svg", alt="Jari PMI Tahapan Kehidupan")
                        div.ps-2 
                            h6 Ragam Tabungan yang dapat digunakan
                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-2.svg", alt="Jari PMI Tahapan Kehidupan")
                        div.ps-2 
                            h6 Memilih Tabungan sesuai kebutuhan
                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-3.svg", alt="Jari PMI Tahapan Kehidupan")
                        div.ps-2 
                            h6 Langkah mudah menabung di bank
                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-4.svg", alt="Jari PMI Tahapan Kehidupan")
                        div.ps-2 
                            h6 Manfaat memiliki tabungan
                .swiper-slide.rounded-2
                    .d-flex.p-3
                        div 
                            img.tab-nav-icon(src=baseURL+"img/icon-duotone-5.svg", alt="Jari PMI Tahapan Kehidupan")
                        div.ps-2 
                            h6 Produk dan layanan Bank

        .swiper.tabContent2Swiper.tab-content-swiper.mt-3(thumbsslider='')
            .swiper-wrapper
                .swiper-slide
                    .p-3.p-lg-4.rounded-2.content-article
                        .row
                            .col-lg-4.col-md-3.col-xs-12
                                p 
                                    b Tabungan Konvensional
                                ol 
                                    li Menyimpan Uang
                                    li Tarik-Setor Tunai (kapan saja)
                                    li Kartu ATM
                                    li Transaksi pengiriman uang
                                    li Tabungan Anak
                            .col-lg-4.col-md-3.col-xs-12
                                p 
                                    b Menyimpan Uang
                                ol 
                                    li Tarik-Setor Tunai (kapan saja)
                                    li Kartu ATM (opsional)
                                    li Transaksi pengiriman uang
                                    li Syarat pembukaan rekening yang berbeda
                                    li Tabungan Berjangka
                            .col-lg-4.col-md-3.col-xs-12
                                p 
                                    b  Menyimpan Uang secara rutin
                                ol 
                                    li Tidak bisa ditarik sewaktu-waktu
                                    li Tanpa Kartu ATM
                                    li Serta berbagai macam jenis Tabungan sesuai tujuan lainnya, seperti Tabungan Haji, Tabungan Investasi, Tabungan Mata Uang Asing dan masih banyak lagi.
                .swiper-slide
                    .p-3.p-lg-4.rounded-2.content-article
                         .row
                            .col-lg-6.col-md-6.col-xs-12
                                p Memilih jenis tabungan yang tepat sangat penting untuk mencapai tujuan keuangan yang diinginkan. Langkah pertama adalah memahami kebutuhan spesifik Anda dalam menabung, apakah untuk kebutuhan transaksi harian, tujuan jangka panjang, atau bahkan dalam mata uang asing. Dengan memahami kebutuhan ini, Anda dapat menentukan produk tabungan yang paling sesuai dengan situasi Anda, seperti tabungan konvensional untuk kebutuhan sehari-hari atau tabungan khusus untuk investasi di masa depan.
                                p Langkah kedua adalah memilih produk tabungan yang sesuai dengan kebutuhan yang telah diidentifikasi. Misalnya, jika tujuan Anda adalah pergi Umroh dalam beberapa tahun mendatang, maka Tabungan Berjangka dengan mata uang asing dapat menjadi pilihan yang tepat karena memungkinkan Anda untuk menyimpan uang dalam mata uang yang relevan, mengurangi risiko fluktuasi nilai tukar. Pemilihan produk yang tepat membantu mengelola keuangan dengan lebih efektif dan memberikan ketenangan dalam mencapai tujuan finansial.
                            .col-lg-6.col-md-6.col-xs-12
                                p 
                                    b Pahami Terlebih Dahulu Kebutuhannya, Baru Kemudian Pahami Produknya.
                                ol 
                                    li 
                                        b Pahami kebutuhan untuk menabung 
                                        | (transaksi harian, tujuan tertentu, mata uang asing, dll)
                                    li 
                                        b Pilih jenis Tabungan yang sesuai
                                        p Contoh: Jika bermaksud untuk pergi Umroh, dapat mempergunakan Tabungan Berjangka dengan Mata Uang Asing
                .swiper-slide
                    .p-3.p-lg-4.rounded-2.content-article
                         .row
                            .col-lg-6.col-md-6.col-xs-12
                                p Menabung di bank adalah langkah penting untuk memastikan keamanan dan kemudahan dalam mengelola keuangan. Dengan memilih bank yang terdaftar dan diawasi oleh Otoritas Jasa Keuangan (OJK), simpanan Anda lebih terjamin keamanannya. Proses membuka rekening pun mudah, hanya memerlukan beberapa langkah: datang ke bank pilihan, membawa dokumen identitas, mengisi formulir, melakukan setoran awal, dan setelah itu Anda sudah bisa mulai menabung dengan nyaman. Langkah-langkah ini memudahkan siapa saja untuk mulai menabung dan menjaga dana mereka dengan aman.
                            .col-lg-6.col-md-6.col-xs-12
                                p Demi simpanan kita terjamin keamanannya pastikan menabung di Bank yang sudah terdaftar dan diawasi oleh Otoritas Jasa Keuangan.
                                p 
                                    b 5 Langkah Mudah Membuka Rekening di Bank:
                                ol 
                                    li Datang ke Bank yang dituju
                                    li Bawa serta dokumen identitas seperti KTP/Kartu Identitas Lainnya
                                    li Mengisi formulir pembukaan rekening
                                    li Melakukan setoran awal
                                    li Selamat menabung
                .swiper-slide
                    .p-3.p-lg-4.rounded-2
                        .row
                            .col-lg-6.col-md-6.col-xs-12
                                p Memiliki rekening bank memberikan banyak keuntungan yang relevan bagi calon pekerja migran. Selain sebagai tempat penyimpanan uang yang aman dari risiko pencurian atau kebakaran, memiliki rekening bank juga membantu mengelola keuangan secara lebih efektif. Bank menyediakan berbagai fitur untuk memudahkan transaksi, termasuk transfer, pembayaran tagihan, hingga layanan internet banking, sehingga memudahkan mereka yang berada jauh dari rumah untuk mengelola dan mengakses uang mereka.
                                p Keuntungan lain menabung di bank adalah adanya bunga atau bagi hasil bagi yang memilih layanan syariah. Uang yang ditabung bisa bertambah seiring waktu, memberikan keuntungan tambahan. Selain itu, dana yang disimpan di bank juga dijamin oleh Lembaga Penjamin Simpanan (LPS) hingga Rp2 miliar per nasabah per bank, memberikan rasa aman bagi nasabah bahwa uang mereka terlindungi dari risiko finansial yang tidak terduga.
                            .col-lg-6.col-md-6.col-xs-12
                                #accordionFlush.accordion.accordion-flush
                                    .accordion-item
                                        h2.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseOne' aria-expanded='false' aria-controls='flush-collapseOne')
                                                | Keuntungan Memiliki Rekening Tabungan di Bank
                                        #flush-collapseOne.accordion-collapse.collapse.show(data-bs-parent='#accordionFlush')
                                            .accordion-body.content-article
                                                p Kenapa harus punya rekening  tabungan di bank?
                                                ol 
                                                    li Aman dari risiko pencurian, kebakaran, dll.
                                                    li Aman dari pemakaian berlebihan.
                                                    li Bisa mendapatkan bunga atau bagi hasil (syariah).
                                                    li Dijamin oleh Lembaga Penjamin Simpanan (LPS).
                                                    li Mempermudah melakukan transaksi.
                                    .accordion-item
                                        h2.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseTwo' aria-expanded='false' aria-controls='flush-collapseTwo')
                                                | Aman dari Pemakaian
                                        #flush-collapseTwo.accordion-collapse.collapse(data-bs-parent='#accordionFlush')
                                            .accordion-body.content-article
                                                p Kenapa harus punya rekening  tabungan di bank?
                                                ol 
                                                    li Menghindari kecenderungan mengeluarkan uang untuk hal-hal konsumtif ketika disimpan di dompet.
                                                    li Menyimpan uang di bank membantu mengelola pengeluaran lebih baik.
                                    .accordion-item
                                        h2.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseThree' aria-expanded='false' aria-controls='flush-collapseThree')
                                                | Aman dari Risiko Pencurian, Kebakaran, dll
                                        #flush-collapseThree.accordion-collapse.collapse(data-bs-parent='#accordionFlush')
                                            .accordion-body.content-article
                                                p Keamanan Terhadap Risiko
                                                ol 
                                                    li Menyimpan uang di bank lebih aman daripada menyimpan di tempat berisiko seperti di rumah (lemari, bawah kasur).
                                                    li Risiko kehilangan uang akibat pencurian, kebakaran, atau kerusakan bisa diminimalisir.
                                                p Sudah gak zaman menyimpan uang di lemari baju, di bawah bantal atau kasur. Selain berisiko kehilangan akibat pencurian, kebakaran juga khawatir robek dimakan rayap.
                                                p
                                                    i  Yuk Menabung di Bank aja!
                                    .accordion-item
                                        h2.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseFour' aria-expanded='false' aria-controls='flush-collapseFour')
                                                | Bisa Mendapatkan Bunga/Bagi Hasil
                                        #flush-collapseFour.accordion-collapse.collapse(data-bs-parent='#accordionFlush')
                                            .accordion-body.content-article
                                                p Keuntungan Menabung di Bank
                                                ol 
                                                    li Mendapatkan bunga atau bagi hasil sebagai tambahan keuntungan.
                                                    li Semakin lama uang ditabung, semakin besar keuntungan yang dapat diperoleh.
                                    .accordion-item
                                        h2.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseFive' aria-expanded='false' aria-controls='flush-collapseFive')
                                                | Dijamin oleh LPS
                                        #flush-collapseFive.accordion-collapse.collapse(data-bs-parent='#accordionFlush')
                                            .accordion-body.content-article
                                                p Perlindungan oleh Lembaga Penjamin Simpanan
                                                ol 
                                                    li Tabungan di bank dijamin hingga Rp2 miliar per nasabah per bank.
                                                    li Nasabah bisa merasa aman karena dana mereka dilindungi oleh LPS.
                                    .accordion-item
                                        h2.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseSix' aria-expanded='false' aria-controls='flush-collapseSix')
                                                | Mempermudah untuk Melakukan Transaksi
                                        #flush-collapseSix.accordion-collapse.collapse(data-bs-parent='#accordionFlush')
                                            .accordion-body.content-article
                                                p Kemudahan dalam Transaksi
                                                p Bank menyediakan layanan lengkap seperti transfer, penarikan tunai, pembayaran listrik dan pulsa, SMS banking, internet banking, dll.


                .swiper-slide
                    .p-3.p-lg-4.rounded-2.content-article
                         .row
                            .col-lg-6.col-md-6.col-xs-12
                                p Bank menyediakan berbagai produk dan layanan untuk mendukung kebutuhan finansial nasabah. Layanan utama yang ditawarkan mencakup tabungan, yang memungkinkan nasabah menyimpan dana dengan akses mudah untuk penarikan kapan saja melalui ATM. Selain itu, Internet dan Mobile Banking mempermudah transaksi keuangan seperti transfer dana dan pembayaran tagihan yang dapat dilakukan hanya dengan menggunakan ponsel atau perangkat digital lainnya. Transfer antar bank juga merupakan fitur penting yang memungkinkan nasabah mengirim uang ke berbagai rekening tanpa batasan lokasi.
                                p Selain itu, bank juga menawarkan fasilitas kredit atau pinjaman bagi nasabah yang memerlukan dana untuk keperluan seperti membeli rumah atau mobil, serta usaha kecil melalui Kredit Usaha Rakyat (KUR). Layanan kartu debit dari ATM memudahkan nasabah dalam bertransaksi tanpa perlu uang tunai. Bagi perusahaan atau pengusaha, layanan giro tersedia untuk memfasilitasi transaksi dengan cek atau bilyet giro, sementara deposito menawarkan pilihan penyimpanan dana dengan bunga lebih tinggi dalam jangka waktu tertentu, memberikan fleksibilitas dan keuntungan lebih bagi nasabah yang memilih untuk menyimpan uang dalam jangka panjang.
                            .col-lg-6.col-md-6.col-xs-12
                                p Produk dan Layanan Bank Umum
                                #accordionFlush.accordion.accordion-flush
                                    .accordion-item
                                        h2.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseOne' aria-expanded='false' aria-controls='flush-collapseOne')
                                                | Produk dan Layanan Bank Umum
                                        #flush-collapseOne.accordion-collapse.collapse.show(data-bs-parent='#accordionFlush')
                                            .accordion-body.content-article
                                                ol 
                                                    li Tabungan
                                                        p Simpanan dana yang dapat ditarik kapan saja terutama untuk bank yang memiliki fasilitas ATM.
                                                    li Internet/Mobile Banking
                                                        p Proses transaksi dengan bank (transfer, bayar listrik, cek saldo, dll) bisa dilakukan dengan HP dan internet. Layanan ini mempermudah masyarakat.
                                                    li Transfer
                                                        p  Jasa bank yang memberikan layanan pengiriman uang antar rekening maupun antar bank atas permintaan nasabah kepada penerima di tempat lain.
                                                
                                                    li Pinjaman/Kredit
                                                        p Kredit adalah produk bank yang paling dikenal. Ada beberapa macam kredit di bank antara lain Kredit Pemilikan Rumah (KPR), Kartu Kredit (KK), Kredit Usaha Rakyat (KUR), Kredit Kendaraan Bermotor (KBM), dll.
                                                
                                                    li Jasa Pembayaran (ATM sebagai kartu debit)
                                                        p Tidak hanya untuk mengambil uang, kartu ATM juga bisa digunakan untuk kartu pembayaran jika kita berbelanja.
                                    .accordion-item
                                        h2.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseTwo' aria-expanded='false' aria-controls='flush-collapseTwo')
                                                | Giro
                                        #flush-collapseTwo.accordion-collapse.collapse(data-bs-parent='#accordionFlush')
                                            .accordion-body.content-article
                                                p Simpanan dana yang bisa ditarik dalam bentuk tunai dengan menggunakan cek atau bilyet giro. Biasanya dimanfaatkan oleh pengusaha atau perusahaan.
                                    .accordion-item
                                        h2.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseThree' aria-expanded='false' aria-controls='flush-collapseThree')
                                                | Deposito 
                                        #flush-collapseThree.accordion-collapse.collapse(data-bs-parent='#accordionFlush')
                                            .accordion-body.content-article
                                                p Simpanan dana yang dapat ditarik sesuai waktu yang telah disepakati oleh nasabah dan bank (1, 3, 6, atau 12 bulan) dengan tingkat bunga yang didapatkan lebih besar dibandingkan tabungan dan giro.