// HDetail Page 1
section
    .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
        .row.d-flex.align-items-center
            .col-12
                nav.breadcrumb-wrapper(aria-label="breadcrumb")
                    ol.breadcrumb.overflow-hidden.fs-7.mb-0.breadcrumb-custom
                        li.breadcrumb-item
                            a.text-primary(href=baseURL+'negara/')
                                | Negara Tujuan
                        li.breadcrumb-item
                            a.text-primary(href=baseURL+'negara/korea-selatan/') Korea Selatan

                        li.breadcrumb-item.active.text-truncate(aria-current='page') Regulasi Dan Ketentuan
section
  .container.py-4.pt-lg-4.pb-lg-4.px-4.px-md-0
    .row.d-flex.align-items-center
        
        .col-12.bg-pmi-neutral-50.rounded-3
            .p-4.text-center
                a.fs-8.d-block.d-lg-none(href=baseURL+"negara/korea-selatan/") 
                    i.bi.bi-arrow-left.me-2
                    | Kembali
                h1.h2 Regulasi Dan Ketentuan
                h6.mb-0.text-secondary Korea Selatan

section 
    .container.pb-4.pb-lg-5.px-4.px-md-0
        .row
            aside.jari-sidebar-nav.col-lg-3.mb-4
                nav.pmi-scrollspy-nav 
                    btn.btn.d-block.d-lg-none.btn-outline-primary.trigger-menu-category
                        i.bi.bi-list.me-2
                        | Menu Kategori
                    ol.content-menu-category.rounded
                        li 
                            a(href="#kontrak-kerja-mandiri") Kontrak Kerja Mandiri
                        li 
                            a(href="#ketentuan-pengiriman-barang") Ketentuan Barang Kiriman PMI
                        li 
                            a(href="#kenali-hukum") Kenali Hukum, Jauhi Hukuman
                        li 
                            a(href="#layanan-bantuan-hukum") Layanan Bantuan Hukum
                        li 
                            a(href="#peraturan-depnaker") Peraturan Departemen Tenaga Kerja Khusus Pengurus Rumah Tangga Asing (PRTA) dan Pemberi Kerja
                        li 
                            a(href="#peraturan-departemen") Peraturan Departemen Tenaga Kerja Khusus PRTA di Hong Kong

            article.jari-sidebar-content.col-lg-9
                section#kontrak-kerja-mandiri.pmi-scrollspy-content.adjust-anchor
                    h4 Kontrak Kerja Mandiri
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")
                    
                    .row 
                        .col-lg-12.col-md-12.col-sm-12.content-article 

                            //- h6 Perpanjangan Kontrak Kerja Dengan Majikan Yang Sama Tanpa Menggunakan Agen (Kontrak Mandiri)
                            //- p Prosedur permohonan perpanjangan kontrak kerja dengan majikan yang sama tanpa menggunakan agen (kontrak mandiri) sebagai berikut:
                            //- ol 
                            //-     li Kontrak mandiri hanya dapat digunakan untuk perpanjangan kontrak kerja dan TIDAK DAPAT digunakan untuk pembuatan kontrak kerja pertama kalinya. Kontrak mandiri bersifat pilihan dan sepenuhnya tergantung pada kesepakatan majikan dan PMI serta harus memenuhi persyaratan yang ditentukan oleh KJRI Hong Kong.
                            //-     li Majikan dan PMI mengisi dan menandatangani “FORMULIR PERMOHONAN PERPANJANGAN PERJANJIAN KERJA PADA PEMBERI KERJA PERSEORANGAN YANG SAMA". Dokumen persyaratan tercantum dalam formulir tersebut. Penuhilah dokumen persyaratan tersebut sebelum diserahkan kepada KJRI Hong Kong. Unduh formulir di sini: <a href="https://kemlu.go.id/files/childmenu/additional_file/223-files-statis-pages-perwakilan-Hongkong-href-contains-pdf-0-shared.pdf" alt="Formulir Permohonan Kontrak Mandiri" target="_blank">Formulir Permohonan Kontrak Mandiri (Application Form)</a>
                            //-     li Majikan mengisi dan menandatangani “SURAT PERNYATAAN KESANGGUPAN PEMBERI KERJA PERSEORANGAN". Surat pernyataan tersebut harus dinotarisasi oleh notaris publik Hong Kong. KJRI Hong Kong tidak menentukan referensi notaris publik tersebut dan majikan bebas mencari sendiri. Unduh surat di sini: <a href="https://kemlu.go.id/files/childmenu/additional_file/223-files-statis-pages-perwakilan-Hongkong-href-contains-pdf-1-shared.pdf" alt=" Surat Pernyataan Majikan Kontak Mandiri" target="_blank"> Surat Pernyataan Majikan Kontak Mandiri (Employer Undertaking Letter)</a>
                            //-     li Jenis pemeriksaan kesehatan bagi PMI mengacu pada kertas “LINGKUP PEMERIKSAAN KESEHATAN BAGI PMI YANG AKAN MEMPERPANJANG PERJANJIAN KERJA PADA PEMBERI KERJA PERSEORANGAN". Unduh di sini: <a href="https://kemlu.go.id/files/childmenu/additional_file/223-files-statis-pages-perwakilan-Hongkong-href-contains-pdf-2-shared.pdf" title="Lingkup Pemeriksaan Kesehatan Kontrak Mandiri" target="_blank">Lingkup Pemeriksaan Kesehatan Kontrak Mandiri (Coverage of Medical Checkup)​</a>
                            //-     li Perhatikan waktu pengajuan permohonan anda kepada KJRI Hong Kong. Hindari pengajuan permohonan yang mendekati waktu habis visa kerja PMI anda.
                            //-     li Pertanyaan lebih lanjut dapat menghubungi KJRI Hong Kong pada hari Senin-Jumat saat jam kerja 09.30-12.30 & 14.30-16.30, yaitu:
                            //-         br
                            //-         | Bagian Konsuler (Kontrak Mandiri)
                            //-         br
                            //-         | Telp. <a href="tel:+85236510264">+85236510264</a>
                            //-         br 
                            //-         | Email: <a href="mailto:consular@cgrihk.com">consular@cgrihk.com</a>
                            //- p 
                            //-     a.link-primary.link-underline-opacity-0(href="https://www.kemlu.go.id/hongkong/pelayanan-perwakilan/layanan-konsuler/kontrak-mandiri" target="_blank" alt="Perpanjangan Kontrak Kerja (Kementrian Luar Negeri)")
                            //-         i * Perpanjangan Kontrak Kerja Mandiri (Kementrian Luar Negeri)
                                
                    hr
                
                section#ketentuan-pengiriman-barang.pmi-scrollspy-content.adjust-anchor
                    h4 Ketentuan Barang Kiriman PMI
                    //- img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    //- Load sample paragraph
                    .row 
                        //- .col-lg-12.col-md-12.col-sm-12 
                        //-     p Berikut tutorial yang bisa kamu ikuti untuk ketentuan barang kirim PMI
                        //- .col-lg-4.col-md-4.col-sm-4
                        //-     figure
                        //-         a(href=baseURL+"img/negara/hongkong/barang-kiriman/Ketentuan_Barang_Kiriman_PMI_1.jpg" target="_blank") 
                        //-             .full-card-cover
                        //-                 img.card-img-top.mw-100.figure-img.img-thumbnail(src=baseURL+"img/negara/hongkong/barang-kiriman/Ketentuan_Barang_Kiriman_PMI_1.jpg", alt="Syarat barang kiriman/paket PMI")
                        //-         figcaption.figure-caption 1. Syarat barang kiriman/paket PMI                                
                        //- .col-lg-4.col-md-4.col-sm-4 
                        //-     figure
                        //-         a(href=baseURL+"img/negara/hongkong/barang-kiriman/Ketentuan_Barang_Kiriman_PMI_2.jpg" target="_blank") 
                        //-             .full-card-cover
                        //-                 img.card-img-top.mw-100.figure-img.img-thumbnail(src=baseURL+"img/negara/hongkong/barang-kiriman/Ketentuan_Barang_Kiriman_PMI_2.jpg", alt="Jika menemukan PMI yang tidak tercatat di BP2MI, bisa hubungi disini")
                        //-         figcaption.figure-caption 2. Jika menemukan PMI yang tidak tercatat di BP2MI, bisa hubungi disini
                        //- .col-lg-4.col-md-4.col-sm-4 
                        //-     figure
                        //-         a(href=baseURL+"img/negara/hongkong/barang-kiriman/Ketentuan_Barang_Kiriman_PMI_3.jpg" target="_blank") 
                        //-             .full-card-cover
                        //-                 img.card-img-top.mw-100.figure-img.img-thumbnail(src=baseURL+"img/negara/hongkong/barang-kiriman/Ketentuan_Barang_Kiriman_PMI_3.jpg", alt="WNI/PMI Di Hongkong bisa mendapatkan surat keterangan barang pindahan dari KJRI Hongkong")
                        //-         figcaption.figure-caption 3. WNI/PMI Di Hongkong bisa mendapatkan surat keterangan barang pindahan dari KJRI Hongkong
                        //- .col-lg-4.col-md-4.col-sm-4 
                        //-     figure
                        //-         a(href=baseURL+"img/negara/hongkong/barang-kiriman/Ketentuan_Barang_Kiriman_PMI_4.jpg" target="_blank") 
                        //-             .full-card-cover
                        //-                 img.card-img-top.mw-100.figure-img.img-thumbnail(src=baseURL+"img/negara/hongkong/barang-kiriman/Ketentuan_Barang_Kiriman_PMI_4.jpg", alt="Dokumen Yang Diperlukan Untuk Permohonan Surat Keterangan Barang Pindahan")
                        //-         figcaption.figure-caption 4. Dokumen Yang Diperlukan Untuk Permohonan Surat Keterangan Barang Pindahan
                            
                    hr

                section#kenali-hukum.pmi-scrollspy-content.adjust-anchor
                    h4 Kenali Hukum, Jauhi Hukuman
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    .row 
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            ol  
                                li 
                                    b Tindak Pidana
                                    p  Setiap orang yang berada di negara Republik Korea, termasuk WNI, harus menghormati dan tunduk pada hukum dan peraturan setempat. Apabila Anda melanggar hukum dan peraturan setempat, Anda dapat dideportasi, ditangkap, atau ditahan oleh otoritas setempat.
                                li 
                                    b Penangkapan dan Penahanan
                                    p Apabila Anda ditangkap atau ditahan oleh otoritas setempat, Anda memiliki hak meminta Kepolisian atau otoritas setempat lainnya untuk memberikan notifikasi terkait penangkapan atau penahanan Anda kepada Perwakilan RI terdekat. Dalam hal Anda memutuskan untuk tidak menggunakan hak pemberian notifikasi, maka Perwakilan RI tidak akan mengetahui perihal penangkapan atau penahanan Anda dan tidak dapat memberikan bantuan kekonsuleran yang diperlukan selama proses penangkapan atau penahanan Anda.
                    hr

                section#layanan-bantuan-hukum.pmi-scrollspy-content.adjust-anchor
                    h4 Layanan Bantuan Hukum
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")

                    //- Load sample paragraph
                    .row 
                        .col-lg-12.col-md-12.col-sm-12.content-article
                    hr

                section#peraturan-depnaker.pmi-scrollspy-content.adjust-anchor
                    h4 Peraturan Departemen Tenaga Kerja Khusus Pengurus Rumah Tangga Asing (PRTA) dan Pemberi Kerja
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")
                    .row 
                        .col-lg-12.col-md-12.col-sm-12.content-article
                
                section#peraturan-departemen.pmi-scrollspy-content.adjust-anchor
                    h4 Peraturan Departemen Tenaga Kerja Khusus PRTA di Hong Kong
                    img.mw-100.my-3(src=baseURL+"img/img-queue-people.svg", alt="")
                    .row 
                        .col-lg-12.col-md-12.col-sm-12.content-article
                            
                    //- Load sample paragraph
                    //- include ../../includes/sample_lorem_ipsum.pug


